[2015-04-29 17:25] morethanreal opened #2 "Implement transitions"

[2015-04-29 17:52] morethanreal opened #3 "Implement `always-on-top`"
aka `layered`

[2015-04-29 18:45] morethanreal opened #4 "Add ARIA attributes"
* `aria-hidden`

[2015-05-21 19:34] morethanreal commented on #2
Currently the implementer can use `neon-animation` to add a transition.

[2015-05-21 22:37] morethanreal commented on #4
fixed in 41df6b490198f826d1a12846655be47d479ddc54

[2015-05-21 22:37] #4 closed

[2015-05-25 23:49] lpalmaro opened #11 "iron-overlay-behavior accessibility issues"
Focus: focus state on this page is not very visible and should be revisited.

In general, this appears to be working fine with screen reader and keyboard navigation (testing just with Chrome / Mac / VoiceOver today as I don't have corp access on my Chromebook or Win machine remotely). Upon opening one of the overlays, I am able to navigate to the text / buttons within the overlay, but I can also n

[2015-05-27 19:21] morethanreal commented on #11
Won't fix because this element doesn't implement UI. The demo element is only to show behavior.

[2015-05-27 19:21] #11 closed

[2015-05-27 23:18] wuxiaoying commented on #3
+1

[2015-06-01 23:57] wintersandroid opened #14 "Opening from on-tap causes immediate close."
Basic scenario, have an item, which within its on-tap a non-modal paper-dialog, the overlay flashes up (sometimes slow enough to see) and then closes.

Using on-click it will appear, seems the handling of on-tap causes two events.

[code]

[2015-06-02 21:52] #2 closed

[2015-06-03 03:26] davidcv5 commented on #14
I'm having the same problem...

[2015-06-06 07:25] himu62 commented on #14
I had the same problem, and resolved by modifying the code in 'iron-overlay-behavior.html'.

original @ lines 282-283
[code]

fixed
[code]

http://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L282-283

[2015-06-06 09:40] himu62 commented on #14
Sorry, my test is not enough and the code I posted is not work well.

I also tried modify the code on line 285, add the delay to the function.

[code]

It seems to be working well.

[2015-06-18 01:23] tjsavage opened #18 "Loop in iron-overlay-manager"
_From @dsportes on June 14, 2015 12:15_

I have a modal paper dialog opening a second modal paper-dialog.
This causes a loop (Maximum call stack exceed) in two different locations :
iron-overlay-manager.html line 63
paper-dialog-manager.htm line 210
I didn't find any workaround.
Regards

_Copied from original issue: Polymer/polymer#1864_

[2015-06-18 01:23] tjsavage commented on #18
_From @dsportes on June 14, 2015 15:1_

I patched iron-overlay-manager.html at line 74 with:
        setTimeout(function() {current._applyFocus();}, 100);
and paper-dialog-behavior.html at line 210 with:
        	  if (!document.hasFocus()) {
		            if (this._lastFocusedElement) {
		              this._lastFocusedElement.focus();
		            } else {
		              this._focusNode.focus(

[2015-06-18 01:23] tjsavage commented on #18
_From @sorvell on June 15, 2015 23:21_

This issue tracker is for the Polymer core library. We'll make sure this is moved to an appropriate location.

[2015-06-21 19:16] kirilledelman opened #21 "Tapping on backdrop doesn't close overlay"
`no-cancel-on-outside-click` has no apparent effect on mobile Safari. I was unable to close overlay by tapping outside, in the backdrop area.

[2015-06-23 15:55] birkir opened #22 "[Firefox] SyntaxError: unterminated comment"
On line 41 in iron-overlay-behavior.html is a &lt;body&gt; tag that failes in Firefox.

Console log reports
[code]

The output of that file is
[code]

[2015-07-02 23:50] kbwatts commented on #3
+1

[2015-07-03 07:05] cladera commented on #22
The same here.

Tested with Firefox v38.0 & v39.0 OS X Yosemite, 10.10.4 and Firefox v38.0 x-Ubuntu 14.04

It seems Firefox interprets tags within comments. I removed '<' and '>'  characters from comments and it worked.

[2015-07-03 07:16] zikes opened #23 "iron-overlay-behavior does not properly scope styles"
http://stackoverflow.com/questions/31199823/iron-overlay-behavior-styling-not-taking-effect

I have implemented the above component at http://polymer.zikes.me/bower_components/my-overlay/. You will see that changing the custom CSS variables do not have an effect on the backdrop.

I believe this is partly because the backdrop is created but not added to the parent component's scope.  Adding the lin

[2015-07-13 23:38] jasonku09 commented on #3
+1

[2015-07-19 12:27] ronnyroeller commented on #18
+1

[2015-07-22 14:48] thansber opened #27 "closingReason.canceled not set correctly after closing overlay 2nd time"
If you open an overlay, then close it by clicking outside, the `closingReason.canceled` flag is set to true, all good so far.  If you open the overlay again, then close it by clicking outside, the `closingReason.canceled` flag is set to false, and any listeners to iron-overlay-closed receive `event.detail.canceled === false`.

I think the problem is the cancel method in `iron-overlay-behavior.html

[2015-07-22 14:58] thansber commented on #27
https://github.com/PolymerElements/iron-overlay-behavior/pull/28

[2015-07-23 22:36] ronnyroeller commented on #14
+1

[2015-07-24 13:23] vhdirk commented on #22
The real issue here lies with browserSync.
browserSync searches for the ```<body>``` tag and injects its scripts right after it.

This report shows a few options to solve it: https://github.com/PolymerElements/polymer-starter-kit/issues/126

[2015-07-24 14:53] ronnyroeller commented on #3
+1

[2015-07-29 14:12] pe4enushkin commented on #14
+1

[2015-08-10 06:19] krunal1988 opened #30 "Overlay closes itself on adding click event on any element inside overlay and doing event.stopPropagation inside the handler"
Scenario:
I have used iron overlay behavior and made overlay component. I have DOM element which i show inside the overlay as content and which has a click handler. Inside click handler i have done e.stopPropagation and when i click that element overlay closes it self.

I remove  the stopPropagation the overlay remains open even after clicking the element.

[2015-08-11 23:11] cdata opened #31 "Overlay suffers infinite recursive cycle when calling `_applyFocus`"

[2015-08-12 00:05] cdata commented on #31
Relevant: https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-manager.html#L63-L76

[2015-08-19 14:08] bflora2 commented on #31
I'm glad this is being looked at! I'm seeing "Maximum call stack size exceeded" exceptions from the field due to this issue. It is very easy to reproduce by repeatedly opening and closing an animated dialog in rapid fire succession. I put a check in my code to prevent that, but I still see occasional exceptions from the field when two paper-element animations happen to occur at the same time.

[2015-08-27 21:51] #31 closed

[2015-09-05 08:50] tdesc commented on #14
This bug is very critical. All mobile apps with iron-overlay-behaviour ( dialogs ) not function.

[2015-09-11 07:25] alexandrubichis commented on #14
+1

[2015-09-14 23:52] jptrainor commented on #14
+1

[2015-09-19 04:31] miztroh commented on #23
@cdata: I'm seeing this too.  After watching @ebidel's talk at the Polymer Summit, I built one element as an app shell.  Then I built all its functionality into separate custom elements.  In this way, the app shell loads more or less instantly.  The custom elements its contains are loaded from a separate import.  However, doing it this way is causing issues for me in Chrome (but not polyfilled bro

[2015-09-24 20:45] ebidel opened #37 "Event to know when the dialog is canceled"
I'd like to distinguish between  a close and a cancel (from clicking outside the region).
Close happens to late, and I need to take action based on a cancel.

Firing `iron-overlay-canceled` would be ideal or even making `canceled` notify.

[2015-09-29 09:14] dChin84 commented on #30
The overlay seems to capture clicks I presume to close if you click outside. You can force it from closing by setting noCancelOnOutsideClick.

[2015-09-30 14:36] albertolobrano opened #39 "Error after component update."
I recently updated all my modules and this error is coming up.  Not sure if it is a bug or something i am doing wrong.

Uncaught TypeError: Cannot read property 'toString' of nullobj.addEventListener @ polydev/vendor/zone-microtask.js:973Gestures.add @ polymer.html:673Polymer.IronOverlayBehaviorImpl._toggleListener @ iron-overlay-behavior.html:262(anonymous function) @ iron-overlay-behavior.html:2

[2015-09-30 20:28] ktiedt opened #40 "z-index overrides are potentially fragile"
Maybe this is a no-op, but if you override z-index of the overlay-backdrop using:

[code]
Wont this throw off the z-index calculations in -manager which always starts at 10?

[2015-10-01 17:08] albertolobrano commented on #39
This issue was caused by polydev extention tool in chrome.

[2015-10-01 17:08] #39 closed

[2015-10-01 21:54] samccone commented on #39
@albertolobrano do you happen to have a small test case that will make polydev fail¿

[2015-10-02 00:18] #37 closed

[2015-10-02 07:37] albertolobrano commented on #39
No i do not have any test that i can send you .  This is what i did
1) polydev installed in chrome
2) application based on polymer starting kit
3) created a  modal like this
  <paper-dialog modal="true" opened="{{!session}}" modal class="app fit" noCancelOnEscKey noCancelOnOutsideClick>

it fails with the stack trace i posted.

I hope this can help you. If you need any more information let me know

[2015-10-05 10:41] NickBlow opened #43 "Iron overlays within iron overlays have multiple issues"
Opening an iron overlay within another iron overlay has a few issues.

Firstly : When adding a backdrop, if you open a second overlay, the second backdrop has the wrong z-index, and when you close the second overlay, the background does not go away.

Opening the first overlay  - note the backdrop z-index of 11.

![overlay 1](https://cloud.githubusercontent.com/assets/6502020/10278462/6de2e2c0-6b55

[2015-10-06 09:52] dChin84 opened #44 "Tap causes type error to occur in firefox and safari"
In firefox or safari using iron-overlay-behavior 1.0.7+ tapping outside the element causes a type error to occur in the handleNative fn. After some investigation it seems like ev.currentTarget is not the document node with __polymerGestures attached too which should of been assigned from a call to Polymer.Gestures.add within _toggleListeners when opened. Could this possibly be something todo with

[2015-10-06 19:14] thansber commented on #27
This issue is still occurring.

[2015-10-19 23:50] cdata commented on #44
Hi, I'm unable to reproduce this on the `IronOverlayBehavior` demo. Could you provide a test case and re-open? Thanks!

[2015-10-19 23:50] #44 closed

[2015-10-19 23:54] cdata commented on #21
This appears to be fixed. Please re-open if you are still having problems!

[2015-10-19 23:54] #21 closed

[2015-10-20 00:29] cdata commented on #23
Hey guys, I think this is a z-index issue, not a style scoping issue. This is a known deficiency of `IronOverlayBehavior`, and we are working on an alternative approach to resolve this. However, the alternative approach will manifest as a new element, so I am going to close this issue for now. Please re-open if you think I have mis-interpreted anything!

[2015-10-20 00:30] cdata commented on #22
Closing this, as it does not seem to be an `IronOverlayBehavior` issue.

[2015-10-20 00:30] #22 closed

[2015-10-20 00:32] cdata commented on #18
Closing this, as I believe the bug is fixed. Please re-open if it is still a problem!

[2015-10-20 00:32] #18 closed

[2015-10-20 02:05] bicknellr commented on #30
@krunal1988 I can't repro this issue, here's a demo to try out: http://jsbin.com/loxuhayare/edit?html,output. It has an overlay containing a couple buttons with different types of click event listeners which call `stopPropagation`, but the overlay doesn't close when clicking the buttons. Does this problem still occur in your context?

[2015-10-20 02:47] miztroh commented on #23
@cdata Take a look at the screenshot I posted, specifically at the red rectangle I added.  It highlights a broken CSS rule.  Are you sure that this is due to a z-index issue?

[2015-10-20 03:29] zikes commented on #23
I'm pretty sure it's a shady DOM issue, since manually calling `scopeSubtree` fixes it.

[2015-10-20 13:26] miztroh commented on #23
@zikes Will you reopen?

[2015-10-20 18:05] zikes commented on #23
@miztroh I'm not seeing an option to reopen, I don't think I have the necessary permissions.

[2015-10-20 18:13] miztroh commented on #23
@cdata Will you reopen and take another look?

[2015-10-29 18:28] fozziethebeat opened #47 "Iron Overlay type error on open in Chrome"
I've recently seen a problem in Chrome on both Ubuntu and Mac OSX where opening an iron-overlay throws a Javascript error:

    Uncaught TypeError: Cannot read property 'toString' of null

The full stack trace looks like:

    obj.addEventListener	@	polydev/vendor/zone-microtask.js:973
    Gestures.add	@	polymer.html:752
    Polymer.IronOverlayBehaviorImpl._toggleListener	@	iron-overlay-behavior.h

[2015-10-30 07:36] AndreasGalster commented on #47
Yes, I've had this issue for a while, thought it was an error related to my setup. You can reproduce the issue with this element for example: http://gabiaxel.github.io/paper-fab-transitions/components/paper-fab-transitions/demo/

Every element using iron-overlay-behavior is broken in at least Chrome Version 46.0.2490.71 m and above.

[2015-11-02 15:50] lpalmaro opened #49 "Mobile A11y Testing 11/1"
ON Android with Talkback, upon opening these overlays, I receive no spoken feedback. This should speak out the title of the dialog as a spoken alert. Without seeing this visually, I have no idea that something is on the screen.

Also, once I open the Hello World overlay, I have no clear way to get out of it.

Once an overlay opens, like the scrolling one, it should steal focus. Right now, if I ope

[2015-11-03 21:35] arthurevans opened #50 "dialog noCancelOnEscKey is broken"
_From @borismus on November 2, 2015 22:28_

Regardless of whether or not this boolean value is set to true or false, the dialog can always be canceled with ESC.

_Copied from original issue: Polymer/polymer#2669_

[2015-11-03 21:35] arthurevans commented on #50
_From @zoechi on November 3, 2015 8:3_

This should be reported in the GitHub repo of the element. If you look up an element in https://elements.polymer-project.org/ it has a link to the source repo.

[2015-11-03 21:36] arthurevans commented on #50
I believe this issue belongs over here.

[2015-11-03 21:55] borismus commented on #50
Thanks Arthur!!

On Tue, Nov 3, 2015 at 1:36 PM Arthur Evans <notifications@github.com>
wrote:

[2015-11-06 17:52] fozziethebeat commented on #47
I spoke with someone from the Polymer team and they commented that this is due to some interaction with the poly-dev toolkit.  So updating or removing that should address the problem.

[2015-11-17 02:25] valdrinkoshi opened #52 "ready calls _openChanged without valid boolean"
In here, we should pass `this._callOpenedWhenReady ` as input
https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L166
[code]

[2015-11-18 01:41] cdata opened #54 "Tests are breaking due to `Polymer.Base.fire` implementation change."
Syntax needs to be updated to reflect this style:

[code]

[2015-11-18 20:00] miztroh opened #55 "Reopen #23: iron-overlay-behavior does not properly scope styles"
https://github.com/PolymerElements/iron-overlay-behavior/issues/23

[2015-11-20 01:14] cdata opened #57 "Tests fail due to `Polymer.Base.fire` misuse."
Polymer changes internal implementation of `Polymer.Base.fire`, so this method can no longer be called with a custom context.

[2015-11-25 20:14] bendavis78 opened #58 "Multiple modal dialogs result in broken functionality"
Looking through `iron-overlay-manager.html`, it looks like multiple overlays with backdrops are expected to work.  It seems to be broken, though.

http://jsbin.com/taxoli/47/edit?html,output

In this example, the second overlay should have a backdrop, but the backdrop is still under the first. Looking at the source, it seems as if the backdrop is meant to move under the top-most dialog.

Other pro

[2015-12-03 00:02] erutan opened #59 "Parsing error in Firefox 42, comment unterminated"
More their problem than yours, but if someone else hits it delete lines 41-49 from iron-overlay-behavior.html for the time being.

https://bugzilla.mozilla.org/show_bug.cgi?id=1229966

[2015-12-07 06:37] FabianHoltkoetter commented on #50
@arthurevans https://www.polymer-project.org/1.0/docs/devguide/properties.html#property-name-mapping
The second point. Use `no-cancel-on-esc-key` and it works.

[2015-12-07 22:08] valdrinkoshi opened #60 "position calculation triggered too early"
`iron-overlay-behavior` triggers position calculation too early (or `ready`), resulting in a wrong/offsetted rendering of the element. Instead, this should be done on `attached`.

[2015-12-07 23:21] #52 closed

[2015-12-08 01:10] valdrinkoshi opened #62 "ESC Closing all dialogs when nested"
_From @erichnascimento on October 8, 2015 0:43_

When key ESC is pressed in nested dialogs, all dialogs are closed instead of the highest dialog only.

_Copied from original issue: PolymerElements/paper-dialog#45_

[2015-12-08 01:10] valdrinkoshi commented on #62
good catch @erichnascimento, this should be fixed in `IronOverlayBehavior`, I'll move it there

[2015-12-08 19:11] #57 closed

[2015-12-08 19:11] #60 closed

[2015-12-08 19:42] #62 closed

[2015-12-08 20:33] thansber commented on #27
The pull request no longer fixes the issue and I have been unable to fix it locally without breaking a lot of other specs.  I do have a spec that fails when simulating the behavior, should I create a pull request with this failing spec?

[2015-12-08 22:59] valdrinkoshi commented on #54
fixed in #61

[2015-12-08 22:59] #54 closed

[2015-12-09 01:55] valdrinkoshi opened #66 "Modal dialog not closing"
_From @pensierinmusica on August 7, 2015 14:46_

Hi,

If the `<paper-dialog>` element has the attribute `modal="true"`, the dialog does not close when the user clicks outside of the dialog area (as it properly does instead without `modal="true"`).

The only interaction event that seems to close the dialog is the `esc` key (that, btw, is not available on mobile).

Any idea when this could be fixed?

[2015-12-09 01:55] valdrinkoshi commented on #66
_From @hawkett on August 17, 2015 18:57_

This behaviour [is documented](https://elements.polymer-project.org/elements/paper-dialog-behavior?active=Polymer.PaperDialogBehavior):

```If modal is true, this implies no-cancel-on-outside-click and with-backdrop.```

So to get the behaviour you're after, you should just set ```with-backdrop``` on your dialog (not ```modal```). It's a property on ```Iro

[2015-12-09 01:55] valdrinkoshi commented on #66
_From @pensierinmusica on August 17, 2015 22:57_

@hawkett I see, thanks for the tip!

[2015-12-09 01:55] valdrinkoshi commented on #66
_From @pensierinmusica on August 27, 2015 17:10_

In this case though, when `modal=true`, the `esc` button should not close the dialog.

[2015-12-09 01:55] valdrinkoshi commented on #66
_From @hawkett on August 27, 2015 18:56_

There's an option [documented](https://elements.polymer-project.org/elements/iron-overlay-behavior?active=Polymer.IronOverlayBehavior) for handling the ```esc``` key:

[code]

The double negative makes it a little hard to reason about :)

[2015-12-09 01:55] valdrinkoshi commented on #66
_From @pensierinmusica on August 29, 2015 11:57_

@hawkett, awesome, thanks for the tip! Imho this should be the default behavior when `modal="true"`.
From a UX perspective, the `esc` key and clicking outside is about the same. Either they're both allowed, or they're both disabled. Keeping one active and the other one disabled doesn't make much sense to me as a standard setting. Is the Polymer tea

[2015-12-09 01:55] valdrinkoshi commented on #66
_From @hawkett on August 31, 2015 18:35_

Quick disclosure - I'm not on the Polymer team (or at Google).

[2015-12-09 01:55] valdrinkoshi commented on #66
_From @pensierinmusica on September 4, 2015 8:24_

@ebidel, @addyosmani is anyone actively looking at these issues by any chance? #27, #28, #29

I Imagine the Polymer team has tons of more relevant things to take care of at the moment, but just wanted to check these repos are still actively maintained.

Thanks!

[2015-12-09 01:55] valdrinkoshi commented on #66
_From @pensierinmusica on October 8, 2015 15:49_

Hi @notwaldorf, this issue and the ones mentioned in the previous comment (#28 and #29) have been open for about 2 months now without getting any feedback. I really understand that the Polymer team is super-busy with more important things to do, but do we have any chance to make some progress here? Thanks!!

[2015-12-09 01:55] valdrinkoshi commented on #66
this looks like a question/enhancement, and should be moved to iron-overlay-behavior repo (since `noCancelOnEscKey` is defined there).
As of now, this can be already achieved by setting `paper-dialog` (or any element that inherits `IronOverlayBehavior` for that matter) like this:
[code]

[2015-12-09 01:55] valdrinkoshi commented on #66
@cdata @notwaldorf FYI

[2015-12-09 19:33] valdrinkoshi opened #67 "keep track of the last external focused element"
When the last overlay is closed, focus should move back to the origin element.
E.g.
- button opens overlay
- click outside overlay closes overlay

Expectation: button has focus

[2015-12-09 23:03] jwuliger commented on #50
@FabianHoltkoetter Thanks for that tip!

[2015-12-10 16:11] Bodhiz commented on #59
Yep experienced the same issue.

[2015-12-11 03:13] erutan commented on #59
@Bodhiz - feel free to chime in on the bugzilla thread.

[2015-12-11 10:54] Bodhiz commented on #59
Have been discussed here :
https://github.com/PolymerElements/iron-overlay-behavior/issues/22

[2015-12-13 12:30] tuct opened #69 "Pass the original event to iron-overlay-canceled event"
## Expected
I can access the original event in iron-overlay-canceled to determine the

## Actual
Not possible to access the original event

## Long description

I used iron-overlay-behavior triggered by focusing/writing in an input field and wanted to avoid reopening the overlay when i focused the input again after clicking some stuff in the overlay.
(I try to implement a multiselect dropdown wher

[2015-12-15 10:59] bastienarm opened #70 "using paper-dropdown-menu inside a dialog will close it"
it seems that there is another problem with the https://github.com/PolymerElements/iron-overlay-behavior/pull/64.

I've made you a JSBin

https://jsbin.com/lapedorogo/edit?html,console,output

I don't know why, but if you use paper-dropdown-menu + paper-menu + paper-item inside a dialog (dialog and paper-dropdown-menu are differents module), when selecting an item in the paper-dropdown-menu, an ev

[2015-12-15 18:10] cdata commented on #70
@bastienarm Thanks for reporting an issue! The event is fired because the dropdowns implement `IronOverlayBehavior` (this is also implemented by dialogs).

Could you clarify in one sentence or so what you think the bug is? The test case is fairly complicated and if there is a bug specific to `IronOverlayBehavior`, it isn't obvious.

Thanks again!

[2015-12-16 08:12] bastienarm commented on #70
Thanks for your reply @cdata

In my opinion, the problem is that, when using a dropdown or a menu inside a dialog, I don't want the dialog to close when selecting an item.

I develop an application in which you have a dashboard with multiple widgets inside.
You can add a widget to the dashboard when using what I've called a "widget store".
A widget is an indicator based on different options like a

[2015-12-16 22:23] cdata commented on #70
I agree with this. However, I am not convinced that the problem you described is happening under normal conditions.

Can you provide a simpler test case that shows that this happens? Thanks.

[2015-12-16 23:25] zinkkrysty opened #73 "The backdrops of two different elements implementing iron-overlay-behavior are interfering"
If two different elements are created, `element-overlay-with-backdrop` and `element-overlay-with-backdrop2`, both implement `iron-overlay-behavior` and both used `with-backdrop`, opening one after another and closing them, one overlay closes the other one's backdrop, and one backdrop doesn't close (is orphaned).

I have a suspicion that the manager is not working as it should - the current tests o

[2015-12-17 08:22] bastienarm commented on #70
I don't know if it's a "normal condition", but if you look at the JSBin I provided you'll see what I'm doing.

My content inside my dialog is dynamically created and added, and, when closing the dialog the content is removed. (function removeDlg which is called when an iron-overlay-closed event is received)

So, when closing the dropdown, the event is fired, so the removeDlg function is called, wh

[2015-12-18 10:24] jahglow opened #76 "In dynamically created paper-dropdown-menu errored on click outside when opened [Solution]"
Sometimes the `path` wouldn't be on `Polymer.dom(event)` because it returnes a node and event is `CustomeEvent`, thus it would give an error and not close the dropdown on click outside. The following code fixes the issue. please add it to the file.

    _onCaptureClick: function(event) {
      var ev = Polymer.dom(event);
      if (!this.noCancelOnOutsideClick &&
        this._manager.currentOverl

[2015-12-21 09:47] bastienarm opened #77 "disable horizontal scrollbar inside a paper-dropdown"
When using a paper-dropwdown-menu a horizontal scrollbar is added, how can i remove it?

Is there any solution to remove it with css?

[2015-12-21 09:53] bastienarm commented on #77
seems to be easier that I thought ... my bad.

Adding .dropdown-content class inside my css with overflow-x:hidden solve the problem.
Is it a good solution?

[2015-12-21 21:35] valdrinkoshi commented on #77
In which browser does this happen? can you provide an example (jsbin)?

[2015-12-21 21:39] valdrinkoshi commented on #76
`_onCaptureClick` is invoked when `tap` event is triggered on `document`. When can it be a `CustomEvent`? Do you have an example to show this behavior?

[2015-12-22 01:25] #66 closed

[2015-12-22 18:54] valdrinkoshi opened #78 "with-backdrop changes should update backdropElement"
When an `iron-overlay-behavior` element is open, changes to `with-backdrop` should update the backdropElement presence.

E.g.
[code]

[2015-12-23 13:25] jahglow commented on #76
I was working on Polymer wrappers for elements on pages that use YUI2/3 basically for everything. There the CustomEvent was overriden by YUI so I had to create an iframe and pass window.CustomEvent from that iframe (otherwise the YUI customEvent was triggering, a nightmare of its kind). I was seeng this thing on paper-dropdown-menu dropdowns - they wouldn't close on click outside - can't set index

[2015-12-26 17:02] diegohaz commented on #47
I'm also having this issue with Chrome 47 and latest iron-overlay-behavior.

[2016-01-05 20:47] Bamieh opened #81 "iron overlay behavior - comment syntax bug (very easy fix)"
iron-overlay-behavior.html (line 19)
the behavior comment starts with /** instead of
this is causing a parsing issue on firefox, resulting the page to throw and error and ruin the page.

P.S. I caught the error while using polymer iron dropdown, the issue was causing the page to fail on calling the dropdowns to close on page load.

[2016-01-06 16:19] valdrinkoshi commented on #81
in line 19 we are inside a `<script>` element, so it is correct to use `/*  */` for comments

[2016-01-06 16:39] valdrinkoshi commented on #81
@Bamieh tested the demo page on firefox 42 and 43 (mac os) and didn't see any parsing errors
http://jsbin.com/niyuru/edit?html,output
Can you provide an example?

[2016-01-06 18:41] btelles commented on #47
Bumping this as it's pretty annoying. Should we be reporting this in the Polymer Dev extension repository?

[2016-01-06 19:32] Bamieh commented on #81
@valdrinkoshi you are correct, i didnt notice we are inside a script tag inside, however i am getting this error on firefox due to the /** instead of /* for some reason.

SyntaxError: unterminated comment
<img width="1068" alt="screen shot 2016-01-06 at 9 27 31 pm" src="https://cloud.githubusercontent.com/assets/6191849/12152274/63383de2-b4bc-11e5-8e5d-29e2812948ae.png">

This is causing my page t

[2016-01-07 12:22] valdrinkoshi commented on #81
Hi @Bamieh, I cannot reproduce it
![firefox](https://cloud.githubusercontent.com/assets/6173664/12170417/31616318-b4f6-11e5-9387-97a2ad608d75.gif)

#### index.html
[code]

Can you provide a code snippet to reproduce it?

[2016-01-08 13:13] #78 closed

[2016-01-08 13:24] valdrinkoshi opened #83 "cannot interact with page if `iron-overlay-backdrop` transition is disabled"
http://jsbin.com/qosiqix/1/edit?html,output

`iron-overlay-backdrop` will rely on the event `transitionend` to call the method `complete()` after it gets closed, which will handle the removal of the backdrop from the body if necessary.

[2016-01-08 13:28] valdrinkoshi commented on #83
@cdata, should we add a new property `no-animation` to the backdrop? or rather check for the computed style once the backdrop is closed?
I tend to prefer the check of computed styles, because even if we add a new property to the backdrop, the only way to set it would be through javascript (since the backdrop gets added by the manager). In that case it would be enough to do something like
[code]
ht

[2016-01-08 15:46] valdrinkoshi commented on #14
It seems the issue is already fixed http://jsbin.com/vonoge/1/edit?html,output
Closing this

[2016-01-08 15:46] #14 closed

[2016-01-08 15:47] valdrinkoshi commented on #14
@wintersandroid @tdesc @himu62 and others, please let me know if it is still an issue (with a code example if possible), and I'll reopen this

[2016-01-08 15:55] #50 closed

[2016-01-08 16:03] valdrinkoshi commented on #23
@miztroh @zikes `iron-overlay-backdrop` will be added to `body`, so you have to apply the styles like this:
[code]

[2016-01-08 16:04] valdrinkoshi commented on #55
continued the discussion in #23, closing this

[2016-01-08 16:04] #55 closed

[2016-01-08 16:13] miztroh commented on #23
@valdrinkoshi This issue for me (see my post above) was not for some custom use of iron-overlay-backdrop.  I was having issues with things like paper-dropdown-menu and paper-dialog not having correct styles in certain cases.

[2016-01-08 18:17] valdrinkoshi commented on #23
@miztroh could you provide an jsbin?
I've tried with this one and I cannot reproduce the issue
http://jsbin.com/lepubi/1/edit?html,output
Here the code for `my-overlay` http://jsbin.com/pivowey/1/edit?html,output

[2016-01-08 18:21] valdrinkoshi commented on #23
`iron-overlay-backdrop` is be a single instance shared across overlays. It is added to `body`, so the style must be done at that level, not within a custom-element

[2016-01-08 20:00] miztroh commented on #23
It's a little too complicated to demonstrate with JSbin, so I created a GitHub repo demonstrating the issue.  It uses paper-menu-button for illustration, but the problem exists with other overlay uses as well (paper-dialog, etc.).

Repo: https://github.com/miztroh/bug-shell

Async test case: Works in polyfill browsers; broken in Chrome
https://miztroh.github.io/bug-shell/async.html

Sync test case

[2016-01-08 20:24] valdrinkoshi commented on #23
Cool, thanks for that! :)
verified locally, reopening this.

[2016-01-08 20:46] miztroh commented on #23
No problem.  Hope we can get this worked out.  I really want to start rolling out my app shell as a replacement for my synchronous (slower) all-in-one app element.

[2016-01-09 16:59] Bamieh commented on #81
I disabled webcomponents in firefox then it worked! hmm..
1. go to, about:config
2. search webcomponents, and setting enabled to false

Seems its not related to this comment particularly but firefox current support for web components in general.
Disabling firefox web components and defaulting to polyfills seems to solve the issue.

Thanks for your time

[2016-01-09 16:59] #81 closed

[2016-01-11 14:53] valdrinkoshi commented on #23
@miztroh, I've played with your repo and simplified the example in here https://github.com/valdrinkoshi/bug-shell
The problem is not caused by `iron-overlay-behavior` (as you'll see in my example I have only custom elements), but by the usage of `async`.
@cdata where should this issue be moved?

[2016-01-15 17:58] valdrinkoshi commented on #70
@bastienarm you should check who's the target of the `iron-overlay-closed` event (since you have multiple overlays embedded)
https://jsbin.com/poripe/1/edit?html,console,output
[code]

[2016-01-15 18:15] valdrinkoshi commented on #58
Hi @bendavis78, in your demo you forgot to close `paper-dialog#main` tag, and that was causing the secondary to close both of the dialogs
http://jsbin.com/vovabud/1/edit?html,console,output
About the backdrop `z-index`, this is by design to have it low enough to display all overlays that are `opened` and `with-backdrop`.
@cdata, we could either add a property `always-on-top` (already asked in #3),

[2016-01-16 00:32] valdrinkoshi opened #88 "with-backdrop should trap the focus into the overlay"
Currently when an overlay with backdrop is opened, it still allows the user to focus on elements behind the backdrop by using TAB
https://elements.polymer-project.org/elements/iron-overlay-behavior?view=demo:demo/index.html&active=Polymer.IronOverlayBehavior

Instead, the focus should be trapped within the overlay while opened
http://jsbin.com/koxoyu/3/edit?html,console,output

[2016-01-19 23:20] miztroh opened #91 "Call notifyResize on img load events"
See https://github.com/PolymerElements/paper-dialog/issues/86

[2016-01-20 18:56] valdrinkoshi commented on #91
duplicate, closing this.

[2016-01-23 00:04] #27 closed

[2016-01-23 01:28] #91 closed

[2016-01-23 04:28] #73 closed

[2016-01-26 23:10] valdrinkoshi commented on #77
Closing this since it seems solved. Will re-open if needed.

[2016-01-26 23:10] #77 closed

[2016-01-26 23:22] valdrinkoshi commented on #76
@jahglow could you please create a jsbin showing the issue? And if you feel like it, feel free to provide a PR with the fix :)

[2016-01-26 23:30] valdrinkoshi commented on #69
In the case of `click`, the `event.srcElement` will be the `document.activeElement`, so this should work:
[code]

[2016-01-26 23:31] #59 closed

[2016-01-26 23:43] valdrinkoshi commented on #69
Here an example http://jsbin.com/migige/1/edit?html,output
Notice I set the `tabindex` and set the css `outline: none` so we don't have the blue border around our div.
Closing this for now, @tuct LMK if that works for you

[2016-01-26 23:53] valdrinkoshi commented on #43
@NickBlow all the reported issues have been fixed:
- there is only 1 backdrop element that is shared across overlays
- `z-index` is correctly updated for overlays and backdrop
- only top overlay gets closed on ESC (fixed in https://github.com/PolymerElements/iron-overlay-behavior/pull/82)

[2016-01-26 23:53] #43 closed

[2016-01-27 00:02] valdrinkoshi commented on #40
Fair point, here a jsbin showing the issue
http://jsbin.com/qosiqix/4/edit?html,output

[2016-01-27 00:03] valdrinkoshi commented on #30
Closing this, will re-open if needed.

[2016-01-27 00:03] #30 closed

[2016-01-27 00:04] valdrinkoshi commented on #47
cc @justinfagnani

[2016-01-27 01:08] justinfagnani commented on #47
I have the repro, which only happens with polydev. I'll look into this, but we can definitely move this to the polydev issues.

All of you who see this issue, you have polydev installed to a debugging-only Chrome profile, yes? :)

[2016-01-27 23:27] notwaldorf commented on #23
Closing, as this is a core problem (Polymer/polymer#2481), and will be fixed when that is fixed.

[2016-01-27 23:27] #23 closed

[2016-01-28 07:16] jahglow commented on #76
It turns out it was because of this: in my setting YUI2 was overriding
CustomEvent globally, so I had to overwrite it with native CustomEvent from
iFrame, but it turnes out this CustomEvent instanceof Event === false abd
here are the problems, where Polymer would consider an event as a Dom node,
had to alter that in polymer-mini in Polymer.dom declaration and it fized
all this.

ср, 27 янв. 2016,

[2016-01-28 09:17] motss commented on #58
:+1: A must-have feature for dialog. Meantime this might help but proper implementation is definitely needed in `paper-dialog`.

http://jsbin.com/masudugixe/edit?html,console,output

[2016-01-28 16:26] tuct commented on #69
Hi valdrin,
In chrome on Windows the solution u suggested works, but not on chrome on Android ;(
My fix worked on both  versions.

[2016-01-28 23:29] valdrinkoshi opened #94 "dialogs should restore focus to the previously focused element after closing"
_From @anthonytordillos on October 20, 2015 6:9_

"the object with focus before the dialog box is opened should be saved. This will allow restoring focus to this element when the dialog box is closed."

Is this something paper-dialog-behavior can provide, or are consumers of the element required to handle it themselves?

http://www.w3.org/TR/wai-aria-practices/#modal_dialog

_Copied from original

[2016-01-28 23:29] valdrinkoshi commented on #94
_From @anthonytordillos on November 27, 2015 23:7_

Ping?

[2016-01-28 23:29] valdrinkoshi commented on #94
This is not currently implemented, but is a nice feature we could add: `paper-dialog-behavior` restores the focus to the origin element when closed.
@cdata WDYT? should this be the default behavior?

[2016-01-28 23:29] valdrinkoshi commented on #94
_From @cdata on December 9, 2015 0:25_

This seems like a good feature to add. For reference, we do some wander `tabindex` stuff in `PaperMenuBehavior`. As an alternative approach to the one `PaperMenuBehavior` uses, we could manually update a property that keeps track of the last focused element in the dialog.

[2016-01-28 23:29] valdrinkoshi commented on #94
@cdata, I cannot find `PaperMenuBehavior`, did you mean another behavior?

[2016-01-28 23:29] valdrinkoshi commented on #94
_From @cdata on December 9, 2015 17:51_

Sorry, I meant https://github.com/PolymerElements/iron-menu-behavior :)

On Tue, Dec 8, 2015, 5:36 PM Valdrin Koshi <notifications@github.com> wrote:

[2016-01-28 23:37] valdrinkoshi opened #95 "Tabbing out of a modal dialog should stop focus event propagation"
_From @barakhub on August 30, 2015 4:15_

paper-dialog-behavior provides modal behavior. If focus is set outside of the dialog, it's returned to somewhere within the dialog. In that case, the current focus handling should stop.

Example where this causes an issue:
http://poly-play.appspot.com/A5xo5E3I5iQ
(Follow the on-screen instructions to reproduce)

Here, if you try to tab out of the dialog, y

[2016-01-29 00:04] valdrinkoshi commented on #76
Closing this as it seems to have been solved. Feel free to re-open the issue if needed (check https://github.com/PolymerElements/iron-overlay-behavior/blob/master/CONTRIBUTING.md to get you started)

[2016-01-29 00:04] #76 closed

[2016-01-29 00:04] valdrinkoshi commented on #67
duplicate.

[2016-01-29 00:04] #67 closed

[2016-01-29 00:09] valdrinkoshi commented on #58
@motss I didn't understand your jsbin, it doesn't have any overlay.
Closing this as duplicate of #3

[2016-01-29 00:09] #58 closed

[2016-01-29 00:10] valdrinkoshi commented on #47
This issue was moved to PolymerLabs/polydev#31

[2016-01-29 00:10] #47 closed

[2016-01-29 00:32] valdrinkoshi commented on #95
duplicate of #88

[2016-01-29 00:32] #95 closed

[2016-01-30 18:45] akc42 opened #96 "Backdrop not removed after call to dialog.close() on a modal dialog shortly after open"
I am not sure I understand issue #83 and this might be the same, but I suspect not.  I also think it might have been introduced in a fairly recent change - because the code was working fairly recently. However I am not 100% sure of that as I have had to adjust timings of other things to handle a problem with theming. and it is possible that that change meant there are less things for the ajax requ

[2016-02-01 18:21] valdrinkoshi commented on #96
Hi @akc42, you're right there is this regression on `v1.0.6`. The temporary fix you can use is calling `dialog.backdropElement.complete()` right after you close the dialog (it won't wait for animations to complete).
http://jsbin.com/quxopu/1/edit?html
Also, please provide a jsbin when reporting an issue next time ;)

[2016-02-02 23:12] valdrinkoshi opened #97 "iron-overlay-opened should be called after iron-resize"
Currently, `iron-resize` gets called after `iron-overlay-opened` http://jsbin.com/xeyeqef/1/edit?html,console,output
Shouldn't `iron-overlay-opened` be called only after `iron-resize` instead?

[2016-02-03 03:24] valdrinkoshi opened #99 "use requestAnimationFrame"
It would improve performance to delay `_onIronResize` via `requestAnimationFrame`. e.g.
[code]
Same for `_renderOpened/_renderClosed`

[2016-02-04 00:32] #83 closed

[2016-02-04 00:32] #96 closed

[2016-02-04 00:40] valdrinkoshi commented on #69
true story! If you feel like it, feel free to create a PR with the fix :) (checkout our https://github.com/PolymerElements/iron-overlay-behavior/blob/master/CONTRIBUTING.md to get you started)

[2016-02-04 01:06] #88 closed

[2016-02-04 19:54] cdata commented on #99
Do you think we should do this for all `iron-resize` events, perhaps?

[2016-02-04 22:14] akc42 commented on #96
I did a bower update, and your fix has stopped working.  I have had to revert to the 200ms delay to make things work again

I presume, unless I do something special, I am just tracking your releases - which you haven't made in the last few days, so I have no idea of the reasons for it stopping, other than I have been streamlining things so they run a lot faster.

[2016-02-04 22:22] valdrinkoshi commented on #96
I haven't released a new version yet, but on master this is working http://jsbin.com/tihiwe/1/edit?html,output

[2016-02-09 21:45] tuct commented on #97
+1, otherwise I might run into problems if the stuff I do in `iron-overlay-opened` relies on `iron-resize`

[2016-02-10 01:38] valdrinkoshi commented on #99
@cdata yes, at each `iron-resize` the overlay should `requestAnimationFrame` in order to perform `_onIronResize`.
This could be implemented in such a way that `iron-overlay-behavior` exposes only 1 protected method to be overridden (`_onIronResize`). This would be invoked in another private method `__ _boundOnIronResize` (which requests the animation frame). This way everyone who extends `iron-ove

[2016-02-10 14:52] arthurevans opened #103 "iron-overlay-closed event doc is garbled"
https://elements.polymer-project.org/elements/iron-overlay-behavior#event-iron-overlay-closed

    * @param {{canceled: (boolean|undefined)}} set to the `closingReason` attribute

Not sure exactly what this is supposed to look like. The description isn't really helpful.

I'm not sure whether the @param tag to an event should assume that the parameters are all passed in the detail object, or whethe

[2016-02-10 22:52] tuct commented on #103
As custom events are fired with fire function: https://www.polymer-project.org/1.0/docs/devguide/utility-functions.html
It make sense to document the details object.

So i think
`* @param {{canceled: (boolean|undefined)}} detail Set to the closingReason object.`
is right because the detail object is not a primitive and must therefore be annotated like it is, see:
https://www.polymer-project.org/1.

[2016-02-11 00:48] #69 closed

[2016-02-11 18:35] valdrinkoshi opened #105 "Focus trapping for modal dialogs doesn't wrap"
_From @anthonytordillos on October 20, 2015 6:11_

Based on the WAI-ARIA best practices[1], it sounds like focus should wrap from the last focusable item in the dialog to first, and vice versa. As currently implemented, focus just stays on either the first or last focusable element depending on the direction of traversal.

1. http://www.w3.org/TR/wai-aria-practices/#modal_dialog

_Copied from orig

[2016-02-11 18:35] valdrinkoshi commented on #105
_From @anthonytordillos on November 27, 2015 23:6_

Ping?

[2016-02-11 18:35] valdrinkoshi commented on #105
_From @cdata on January 27, 2016 23:29_

/cc @valdrinkoshi could you comment on the current state of this feature?

[2016-02-11 18:35] valdrinkoshi commented on #105
Focus trapping is being moved in `iron-overlay-behavior` and associated to `with-backdrop` (see https://github.com/PolymerElements/iron-overlay-behavior/pull/92).

About the wrapping of the focus from last to first and vice versa, unfortunately we don't have an easy way to know what is the first and last focusable element, except through user interactions (observing focus changes).
E.g. TAB will m

[2016-02-11 18:35] valdrinkoshi commented on #105
Since `with-backdrop` is trapping the focus, this issue will be moved to `iron-overlay-behavior`.
The approach will be to have selector for the first and last tabbable element, and wrap the focus on the `_onFocusCapture`

[2016-02-16 23:36] sjmoreno opened #107 "Capture focus for non 'withBackdrop' overlays not working"
After installing 1.3.0, focus on iron-inputs in 'paper-dialog' stopped working. I cannot focus on any input after clicking anywhere else on the dialog or outside the dialog. *Seems* like this might be the breaking change https://github.com/PolymerElements/iron-overlay-behavior/commit/a72f902659e08868baadec909608dce50acb8b72 added a new listener for 'focus' but it is only handling it when having a

[2016-02-17 01:13] valdrinkoshi commented on #107
I could not reproduce it jsbin.com/nalulo/1/edit, closing.
Can you provide a jsbin exposing the issue? I'll reopen this if there is an issue

[2016-02-17 01:13] #107 closed

[2016-02-17 01:14] valdrinkoshi commented on #107
You should maybe update also `paper-dialog-behavior` and `paper-dialog` to their latest version :)

[2016-02-18 21:07] #49 closed

[2016-02-18 21:07] #97 closed

[2016-02-20 00:09] #105 closed

[2016-02-20 01:25] valdrinkoshi opened #109 "a button with onclick="overlay.close()" will close all opened overlays"
Here the example: Close overlay 2, overlay 1 should still be opened but instead gets closed
http://jsbin.com/xuguxa/1/edit?html,output

[2016-02-22 19:23] #103 closed

[2016-02-23 01:38] btelles commented on #70
ping @valdrinkoshi  and @cdata
For what it's worth, I ran into this and it felt a bit betrayed that a dependency way down in paper-dropdown-menu would interfere with another dependency in paper-dialog. It's understandable that those elements will trigger events with the same name, but I think it's unexpected that the paper-dropdown-menu allow the event to keep bubbling. IMHO this violates the "it

[2016-02-23 02:17] valdrinkoshi commented on #70
That's fair, `iron-overlay-behavior` should not bubble `iron-overlay-canceled, iron-overlay-opened, iron-overlay-closed` events.

[2016-02-23 20:20] tuct commented on #109
Only if the close button is outside of the other overlays.  Like in your example, closing overlay 2 will not close overlay 1 because overlay 1 is within the boundaries of overlay 2. Otherwise clicking anywhere on  overlay 2 or other where outside of overlay 1 will trigger a close of it.

I hope you see my point.

I guess when clicking outside is disabled for the overlays the use case would be poss

[2016-02-23 20:30] tuct commented on #109
Here is an example: http://jsbin.com/yewagaxeta/edit?html,output

[2016-02-23 22:04] valdrinkoshi opened #113 "prepareRenderOpened should call refit, not fit"
Currently `iron-overlay-behavior` calls `fit` on opened (`_prepareRenderOpened`), and `resetFit` on close (`_finishRenderClosed`).
Instead, it should only call `refit` on `_prepareRenderOpened`, since the measuring of the dimensions matters in that moment, not when the overlay gets closed.

[2016-02-23 22:25] valdrinkoshi commented on #109
Yes you're right, but `no-cancel-on-outside-click` also prevents from closing the overlay by clicking anywhere else in the `document`. I believe that we shouldn't encourage people to nest overlays or to use `no-cancel-on-outside-click`, but rather check (maybe through in the `iron-overlay-manager`) if you clicked in another overlay. In that case only close the overlay on top (`currentOverlay`).

[2016-02-24 01:52] valdrinkoshi commented on #70
Hi @btelles, after discussing offline with @notwaldorf, we agree that removing the bubbling of these event would definitely be a breaking change, so we are not going to merge the fix for the time being.
In the future (e.g. `iron-overlay-behavior v2.0`) we might make these events not bubbling.

Fortunately you are not blocked, since you can either check who originated the event, or stop the event p

[2016-02-24 01:52] #70 closed

[2016-02-24 02:16] #94 closed

[2016-02-24 08:05] tuct commented on #109
Sounds like a good solution approach, is there a function to close all currently opened overlays? This would be handy in such a case.

[2016-02-24 12:06] btelles commented on #70
Ok, that's fair too. Thanks for addressing this @valdrinkoshi

[2016-02-24 20:58] valdrinkoshi commented on #109
No we don't have it, but it would be a nice public method to be added to `IronOverlayManager`.

[2016-02-24 23:48] valdrinkoshi commented on #109
@tuct a function to close all overlays would be something as simple as
[code]
http://jsbin.com/qoxati/4/edit?html,output

[2016-02-25 03:14] valdrinkoshi opened #117 "opened overlay is not closed on click outside it"
In the [demo page](https://elements.polymer-project.org/elements/iron-overlay-behavior?view=demo:demo/index.html&active=Polymer.IronOverlayBehavior), when I click on `plain overlay` and then on `overlay with autofocus child` (or any other button outside the opened overlay), the `plain overlay` remains opened. Instead, it should close (since we didn't set its `no-cancel-on-outside-click`)

[2016-02-25 17:56] tuct commented on #109
Before we invest more into this topic we should find out if supporting nested overlays is a valid use case or not? First question is if any other iron or paper components use the overlay nested or not. If not we should definitely what for a valid real world example/use case.

[2016-02-25 19:47] valdrinkoshi commented on #109
Nested overlays are needed for things like a `paper-menu-button` (which has an `iron-dropdown` in it) inside a `paper-dialog`.

[2016-02-25 19:54] valdrinkoshi commented on #109
Also, this issue happens with non-nested overlays. In the provided example the 2 overlays are siblings.

[2016-03-07 19:56] kysonic opened #121 "Auto refitting."
Hi everybody! My paper-dialog contains component based on iron-dropdown. When i try open the dropdown the paper-dialog make a leap because of iron-overlay-behavior's auto refitting. Check this link to see it

[https://drive.google.com/file/d/0B7mZeGEPaFYLZmhFaDdERzZYRTQ/view](https://drive.google.com/file/d/0B7mZeGEPaFYLZmhFaDdERzZYRTQ/view)

[2016-03-07 22:11] valdrinkoshi commented on #121
That's odd :x Could you provide a simplified jsbin to reproduce the issue? There are some PRs that might already address it.

[2016-03-07 22:59] #113 closed

[2016-03-08 10:54] kysonic commented on #121
Yeah. I've made one PR regarding this issue... Anyway i've made fiddle providing representation of problem i met:

[http://jsfiddle.net/kysonic/rt4vzkzs/2/ ](http://jsfiddle.net/kysonic/rt4vzkzs/2/ )

Open this fiddle, open dialog and click on the paper-input. You will be able to notice small leap of a paper-dialog. If you reopen the paper-dialog a problem will disappear. But if you refresh a page

[2016-03-08 19:12] valdrinkoshi commented on #121
I don't see the "jump" on mac:
![no-bug](https://cloud.githubusercontent.com/assets/6173664/13612210/15c4848c-e51b-11e5-9695-2cd50c4604db.gif)
I tried on windows and I do see the "jump". I'll further investigate on this, but I suspect this is caused by the `overflow` style of `iron-dropdown` after animating.

In general, consider declaring all your overlays as children of `body` (`iron-dropdown` i

[2016-03-08 19:16] valdrinkoshi commented on #121
I confirm that this is caused by `iron-dropdown` animations, in fact if I disable them it works properly also on windows
http://jsbin.com/hewidar/3/edit?html,output
![yes-bug](https://cloud.githubusercontent.com/assets/6173664/13613039/34b49e3c-e51f-11e5-9b19-d02426d168f8.gif)

[2016-03-08 19:17] valdrinkoshi commented on #121
This issue was moved to PolymerElements/iron-dropdown#69

[2016-03-08 19:17] #121 closed

[2016-03-10 15:01] r0l1 opened #124 "Wrong backdrop z-index for multiple overlays"
If multiple dialogs are opened with a backdrop, then the backdrop should update its z-index to overlay all previous dialogs.

**Demonstration:**

Use the demo source in the demo/index.html file and adjust the "Multiple overlays can be opened" sample, by adding the _with-backdrop_ attribute to both overlays:

[code]

[2016-03-11 00:31] m4ng0squ4sh commented on #124
Hmm, I understand. However I do think, there should be an option available to set this specific behaviour. Imagine an open dialog displaying some data. Data manipulation is triggered by the user and a confirmation message box pops up. The backdrop overlaying the previous dialog is strictly required.Otherwise the user would be able to trigger further data manipulations on the dialog underneath, alt

[2016-03-11 02:01] valdrinkoshi commented on #124
Uhm, there is another feature request for a new property `always-on-top` https://github.com/PolymerElements/iron-overlay-behavior/issues/3
Maybe that could be used together with `with-backdrop` to have the overlay with `always-on-top` to be on top of the others & the backdrop element too.

I wonder though if the backdrop should be always behind the top overlay by default.

[2016-03-11 13:09] m4ng0squ4sh commented on #124
Sounds good. Could you explain the functionality of #3 in detail? There is no description and I didn't understand the full context of `always-on-top`. I would then work on it and provide a pull request. I really need this feature soon and I don't want to hack around this problem...

It definitively should be! This is the default behaviour everyone would expect and common CSS frameworks as bootstra

[2016-03-11 18:16] valdrinkoshi commented on #124
Sure, I'll provide more details for #3 directly there.

About the z-index of the backdrop, I think we should make this change anyways, since this is more a bug than a feature. The top element with backdrop should drive the z-index of the backdrop.
If a user wants to obtain something like this (current :
[code]
Then he should set `overlay2.withBackdrop = false; overlay1.withBackdrop = true`

The ch

[2016-03-11 18:26] valdrinkoshi commented on #3
Let's add more details for how this should work:
- the overlay with `always-on-top` should match the `Polymer.IronOverlayManager.currentOverlay()` even if other overlays are opened after it
- if there is more than one overlay with `always-on-top`, the last one to be opened wins (is on top)
- `with-backdrop` doesn't affect `always-on-top`

This should be handled in the manager's `addOverlay` method

[2016-03-16 17:35] lkovaleva opened #127 "Overlay z-index being set to -1"
When a dialog is put into the DOM at the same time as it is opened, the overlay z-index calculation receives "" as the current z-index.
`_getOverlayZ` calculates `var z1 = Number(window.getComputedStyle(overlay).zIndex);` which evaluates to 0 for "" which passes the === check and and hence turns into -1 for the overlay z-index down the line.
This issue can be addressed by changing the calculation

[2016-03-17 00:42] valdrinkoshi opened #129 "manager _overlays has duplicates"
When `opened` changes quickly without giving time to animations to complete, we end up having duplicates in the `_manager._overlays` array.
http://jsbin.com/qereval/8/edit?html,console,output

[2016-03-18 01:17] valdrinkoshi opened #131 "Separate focus trapping into a behavior or manager"
`iron-overlay-behavior` is able to trap the focus within a node. This functionality is useful also for other elements (e.g. `paper-drawer-panel`), so it would be useful to have either a manager or a behavior for this.

[2016-03-18 21:59] valdrinkoshi opened #132 "when overlay withBackdrop is detached, iron-overlay-backdrop should be synchronously detached too"
Backdrop element should be immediately removed from its parent when last overlay is detached:
http://jsbin.com/leboba/1/edit?html,console,output

[2016-03-18 23:11] valdrinkoshi commented on #132
The problem is that the backdrop blocks the interactions, so is better to just set `pointer-event: none` rather than removing also the backdrop. Like this we'll keep the fade out animation.

[2016-03-19 00:46] #132 closed

[2016-03-19 01:29] #109 closed

[2016-03-19 01:29] #117 closed

[2016-03-22 10:44] ellenaua opened #135 "Cannot set property offsetWidth of #<HTMLElement> which has only a getter"
I get this error:
Cannot set property offsetWidth of HTMLElement which has only a getter
In this line
https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L328

My Chrome version is 49, and here is some info - offsetWidth is read-only property
http://stackoverflow.com/questions/30453078/uncaught-typeerror-cannot-set-property-offsetwidth-of-htmlelement-whi

[2016-03-22 17:50] valdrinkoshi commented on #135
Hi @ellenaua, as written in the comment, this is done because closure compilers would remove that line.
See this example:
https://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%252F%252F%2520%2540output_file_name%2520default.js%250A%252F%252F%2520%2540formatting%2520pretty_print%2

[2016-03-23 01:27] #129 closed

[2016-03-23 14:16] ahedderich opened #139 "focus breaks even with noAutoFocus"
I use a paper-dialog to show a paper-input for a search query.
When there is a paper-toast triggered in the background the input loses focus when the toast hides again.
Wouldn't it make more sense to prevent the blur also if the noAutoFocus attribute is set?
Like this:
[code]

[2016-03-23 15:42] valdrinkoshi commented on #139
Good catch, thanks for reporting! If you feel like it, feel free to open a PR with the fix :)

[2016-03-24 04:09] ebidel opened #140 "Overlays should not allow scrolling background content (esp in modal mode)"
1. On https://elements.polymer-project.org/elements/paper-dialog?view=demo:demo/index.html&active=paper-dialog, resize the window to be very small
2. Notice: the background content is scrollable

Expectation:
The background content (esp with `with-backdrop`) is not scrollable. The paper-dialog should act like a proper modal.

cc @valdrinkoshi @cdata

[2016-03-24 16:30] ellenaua commented on #135
I click "compile" and see this var
a = {ok:1};
a.ok = a.ok;
alert("Hello, New user" + a);
what am I doing wrong?

[2016-03-24 17:05] valdrinkoshi commented on #135
Yeah, that's exactly what we want, that line should not be removed. That line is forcing a layout, which is necessary to ensure animations will work properly right after it.

In which browser throws an error?

[2016-03-24 17:34] notwaldorf commented on #135
@ellenaua if you only leave the `/** @suppress {suspiciousCode} */ a.ok;` line in, without assigning it to anything, that will be removed by the compiler. See [here](https://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%252F%252F%2520%2540output_file_name%2520default.js%250A%252F

[2016-03-24 17:46] valdrinkoshi commented on #140
WDYT of the following:
- `withBackdrop = false` -> on scroll, close the overlay
- `withBackdrop = true` -> on scroll, block scrolling

In addition we could move `iron-dropdown`'s [`allowOutsideScroll` property](https://elements.polymer-project.org/elements/iron-dropdown#property-allowOutsideScroll) to `iron-overlay-behavior`.

It would be a change in behavior, but not a breaking change.

[2016-03-25 22:50] valdrinkoshi commented on #139
Hi @ahedderich, I did some testing and could not reproduce the issue http://jsbin.com/nuqata/3/edit?html,output
Each overlay blurs its own `_focusNode` on close, so the toast does it for its own without interfering with the `_focusNode` of the dialog.
Closing this, feel free to provide a jsbin with the example of the bug if you still face the issue, and i'll re-open it.

[2016-03-25 22:50] #139 closed

[2016-03-26 13:17] ellenaua commented on #135
Hi @valdrinkoshi, thanks for help. After some investigation I can explain why that happens for us.

This is jsbin which shows that in **strict** mode code like "div.offsetHeight = div.offsetHeight;" raises an error https://jsbin.com/sazopa/2/edit?html,console,output
In Chrome 49 error is "TypeError: Cannot set property offsetHeight of #<HTMLElement> which has only a getter". In Safari 8 - "TypeErr

[2016-03-26 14:10] ellenaua commented on #135
Possible solutions are:
1) Vulcanize our elements to one file (our.elements.html) and custom elements to another (polymer.elements.html) and apply babelify only to our elements' javascript.
2) Remove 'use strict'; from 1st line of Javascript file generated by babelify
We used solution 2 now.

[2016-03-29 22:28] arthurevans opened #145 "iron-overlay-backdrop docs don't show up."
### Description

https://elements.polymer-project.org/elements/iron-overlay-behavior refers to this element, but the docs don't show up in the catalog. (Neither does iron-overlay-manager, but I'm not sure whether that's supposed to be end-user visible. If it is, the same comments apply.)

[2016-03-30 00:35] arthurevans commented on #145
This is showing up now--either it just got fixed or (more likely) I just missed it.

[2016-03-30 00:36] arthurevans commented on #145
Would be nice if we had a direct link from the docs, but this isn't an issue, so closing.

[2016-03-30 00:36] #145 closed

[2016-03-30 18:26] valdrinkoshi commented on #135
Fair point, reopening the issue.

[2016-03-30 19:28] #3 closed

[2016-03-31 22:04] valdrinkoshi opened #147 "Open on mousedown causes overlay to cancel (close)"
### Description
Overlay cancels (aka closes) if it was opened on a `mousedown` or `mouseup` event.
http://jsbin.com/gajadi/2/edit?html,output
This is because `mousedown` and `mouseup` are triggered before `click` (same for touch events `touchstart` and `touchend` happen before `tap`).

### Expected outcome
Instead of listening for `click` or `tap`, `iron-overlay-manager` should listen for `mousedo

[2016-04-01 23:50] #99 closed

[2016-04-01 23:50] #135 closed

[2016-04-02 08:54] ahedderich commented on #139
Hi @valdrinkoshi, sorry for the late answer. You're right. If you set the `paper-dialog` to `no-auto-focus` it works.
It's not a big deal, but I still think it's not quite right. Since `paper-toast` is set to `no-auto-focus` by default, it shouldn't interfere with the behavior of `paper-dialog` either way.
if you use a `paper-dialog` with autofocus in any circumstance, the `applyFocus()` is trigge

[2016-04-03 00:47] jdbence opened #149 "The on-screen keyboard incorrectly sizes iron-overlay-backdrop"
### Description
The `iron-overlay-backdrop` is incorrectly sized when the on-screen keyboard is shown. It is the size of the viewport but it should be the size of the page.
[code]
### Expected outcome
The `iron-overlay-backdrop` should cover the entire page

### Actual outcome
The `iron-overlay-backdrop` is only the size of the viewport

### Steps to reproduce
1. Create a `paper-dialog` with an `i

[2016-04-04 17:34] jshcrowthe commented on #140
I 100% agree that when `withBackdrop === true` that scroll should be blocked.

That said, I don't think that when `withBackdrop === false` that a scroll should **always** close the menu. I can think of use cases where that would be undesirable behavior. The addition of `allowOutsideScroll` effectively solves this as a user would be able to define whether or not the background can scroll based on t

[2016-04-04 17:45] valdrinkoshi commented on #139
`this._manager.focusOverlay();` basically guarantees that the top overlay executes its `_applyFocus` correctly. It is needed when we close the overlay & need to say to the newly top overlay to apply the focus. I agree this could done in a cleaner way, as the manager is already tracking the focus changes and knows when we want to add/remove an overlay.

[2016-04-04 18:05] valdrinkoshi commented on #149
Hi @jdbence, I tested this http://jsbin.com/vukusa/2/edit?html,output on Chrome 46 and Chrome 49 for iPad and could not reproduce the issue.
Can you provide a jsbin to show the bug?

[2016-04-04 18:07] #147 closed

[2016-04-04 18:23] jdbence commented on #149
Sure, I modified your example by adding a class to the body.
[http://jsbin.com/votavi](http://jsbin.com/votavi)

[2016-04-04 18:34] valdrinkoshi commented on #149
Thanks!

[2016-04-09 19:46] alfalabs opened #152 "iron-overlay-backdrop failing in FullScreen mode set with Element.requestFullscreen()"
### Description
When browser is set to full screen mode by JavaScript code using [`Element.requestFullscreen()`](https://developer.mozilla.org/en-US/docs/Web/API/Element/requestFullScreen),
iron-overlay-behavior incorrectly calculates z-index value for `<iron-overlay-backdrop>`
NOTE:
the full screen mode invoked by pressing F11 works fine.

### Expected outcome

overlay and backdrop to show in ful

[2016-04-11 10:36] TomaszPasternak opened #153 "iron-overlay-manager clicking outside paper-dialog dont close it"
### Description
After clicking ouside of not modal paper-dialog nothing happen.

### Expected outcome
Dialog should close.

### Actual outcome
Dialog is visible.

### Steps to reproduce

1. Put a `paper-dialog` element in the page.
2. Open the page in a web browser.
3. Click outside of the `paper-dialog` element.

### Browsers Affected

- [x] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] IE 11

Others not

[2016-04-11 17:06] valdrinkoshi commented on #153
Hi @TomaszPasternak, I don't see the issue you describe http://jsbin.com/ripahu/1/edit?html,output
Closing this for now, please provide a snippet showing the bug & I'll reopen this ;)

[2016-04-11 17:06] #153 closed

[2016-04-11 17:07] valdrinkoshi commented on #152
Hi @alfalabs, can you please provide a jsbin example showing the issue?

[2016-04-11 18:03] TomaszPasternak commented on #153
Hi @valdrinkoshi, This issue take place only in newest version of Chrome. The example you provide dont work in Chrome for me.

Did you check this in Chrome?

[2016-04-11 18:18] valdrinkoshi commented on #153
Yes, latest Chrome on mac
![all-good](https://cloud.githubusercontent.com/assets/6173664/14437661/2275e00a-ffd7-11e5-82d3-bd34b7ff2705.gif)

[2016-04-11 23:24] 01es opened #154 "Browser window resizing leads to excessive refit() calls clogging up CPU"
### Description
We’re migrating our application from Polymer 1.3 to 1.4, including updates to iron and paper elements, and have come across a regression where our dialog element, which is based on `iron-overlay-behavior` started to clog up the CPU upon resizing a browser window. Profiling the situation suggests that the abnormally high CPU activity is due to excessive calls to `this.refit()` in `

[2016-04-11 23:59] valdrinkoshi commented on #154
Hi @01es, `iron-overlay-behavior v1.6.2` already does this operation asynchronously by using `requestAnimationFrame`
https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L544

Could you confirm you are on the latest version of `iron-overlay-behavior`? If so, could you share some screenshot of your tests to see the CPU clogging up?

[2016-04-12 02:39] valdrinkoshi commented on #154
that's good news! :) thanks for checking!

[2016-04-13 02:46] #149 closed

[2016-04-14 22:34] valdrinkoshi commented on #140
Currently, it is already possible to prevent scrolling by using `Polymer.IronDropdownScrollManager`.
Here an example using `paper-dialog`: http://jsbin.com/purikul/2/edit?html,output

[2016-04-14 22:57] ebidel commented on #140
It would be nice if paper-dialog prevented the scrolling for you. `Polymer.IronDropdownScrollManager` isn't documented in our catalog :(

[2016-04-14 23:02] kenchris commented on #140
@ebidel I totally agree. And it is not just about scrolling outside the dialog, scrolling pass beginning or endling also scrolls the content.

I find that counter intuitive, you scroll something and then when you reach the end (or beginning), the content behind starts scrolling and most likely the user loses content position and gets confused.

This is not how a modal dialog works on native platfo

[2016-04-15 00:15] kenchris commented on #140
@rbyers commented in the other bug:

This is actually a bit of a whole in the web platform IMHO, see [chromium bug 162179](http://crbug.com/162179). It's not currently possible to prevent scrolls over one element from propagating up to the viewport. People play tricks like consuming wheel events, but that doesn't work for touch. This is much less annoying in browsers that have scroll latching (scr

[2016-04-15 00:21] kenchris commented on #140
@ebidel @RByers I think a CSS property would do just fine, but in this case the dialog is modal, so how do you intent a CSS property on that dialog element to prevent events outside?

As I understand you will soon have fixed the worse part, ie any touch/wheel scrolls on the dialog would never move to the parent. So the only part missing is making the dialog modal.

I don't know how the above ```Po

[2016-04-15 00:38] valdrinkoshi commented on #140
The idea was to basically move `Polymer.IronDropdownScrollManager` into `iron-overlay-behavior` (since `iron-dropdown` implements this behavior).
This manager will listen to a bunch of scroll-causing events like `wheel, mousewheel, touchmove, keydown` and prevent those if needed..also, it sets `overflow: hidden` on `document.body`, causing issues like [this one](https://github.com/PolymerElements/

[2016-04-15 05:44] kenchris commented on #140
@RByers can you look at the above, now you are our scrolling event expert? :-) Maybe look at how IronDropdownScrollManager is implemented

[2016-04-15 23:41] valdrinkoshi opened #158 "call requestAnimationFrame before element is attached"
the behavior should wait to be attached before performing the open changed.

[2016-04-19 10:36] naoak opened #160 "An anchor link behind a backdrop reacts with tap on closing the backdrop"
### Description
An anchor link behind a backdrop unintentionally reacts with a tap action as soon as the backdrop has closed.

I guess this is a regression related to #148.

### Expected outcome
The anchor does not react with the tap while the backdrop is closing.

### Actual outcome
The anchor reacts with the tap, and jumps to the link.

### Live Demo
http://jsbin.com/hebacicize/edit?html,console

[2016-04-19 17:35] valdrinkoshi commented on #160
Hi @naoak, thanks for reporting this! yeah, the `iron-overlay-manager` should be listening for `tap` instead of `touchstart`.

[2016-04-21 18:47] #158 closed

[2016-04-22 21:30] alfalabs commented on #152
I described the issue in detail above. There are many dependencies, I am not familiar with jsbin setup. Can you make a link to an environment in jsbin with setup for iron-behaviour-overlay, please.

[2016-04-22 23:18] valdrinkoshi commented on #152
Hi @alfalabs, here the jsbin http://jsbin.com/vovene/1/edit?html,output
I've provided a temporary solution to your problem, that is reparent the backdrop before entering in full screen mode.
By default, overlays will add the backdrop element for you into body. Ideally the user should be able to say "I provide the backdrop element, no need to create one". Maybe provide a setter for `backdropElement

[2016-04-23 15:18] alfalabs commented on #152
Thanks, providing `backdropElement` setter would be a great enhancement.

[2016-04-25 17:39] valdrinkoshi opened #163 "iron-overlay-closed documentation error"
_From @panuhorsmalahti on April 25, 2016 12:29_

### Description
The documentation specifies that the event for iron-overlay-closed contains a closingReason attribute (or is that supposed to be the name of the callback parameter?). However, the correct attribute is ``detail``, which contains the ``canceled`` attribute.

Might be a good idea to also document the ``confirmed`` attribute.

### Steps

[2016-04-25 17:39] valdrinkoshi commented on #163
This needs to be fixed in `iron-overlay-behavior`.
About the documentation of `confirmed`, I've created a separate issue in `paper-dialog-behavior`: https://github.com/PolymerElements/paper-dialog-behavior/issues/89

[2016-04-26 21:34] #160 closed

[2016-04-26 21:51] #163 closed

[2016-05-01 03:52] AndreasGalster opened #166 "Styling backdrop is impossible/unsatisfyingly difficult"
When wanting to style a paper-dialog it's almost impossible to style the backdrop. Since the backdrop get's added to the body, the only way to style it is via :root. This in itself already makes it very difficult to style it differently per element.

Element 1 with paper-dialog might have a black background, element 2 might use a blue background.

Now the only way to somehow conditionally fix that

[2016-05-02 18:29] valdrinkoshi commented on #166
Hi @AndreasGalster, the `iron-overlay-backdrop` is by design a singleton, hence is shared by all the overlays (in fact it gets generated by the `iron-overlay-manager` and appended to `document.body`).
I'd suggest to toggle a css class on the backdrop right before you open the overlay, e.g. http://jsbin.com/hecehib/5/edit?html,output
I noticed that custom properties don't work, @cdata @notwaldorf a

[2016-05-08 23:18] robdodson opened #170 "Focus isn't wrapping when tabbing (only works with shift-tab)"
### Description
Tabbing through a modal paper-dialog does not trap focus. However, if I shift-tab it does.

### Expected outcome

Focus should wrap, if i'm tabbing forward

### Actual outcome

Focus escapes the modal when tabbing forward

### Live Demo
http://jsbin.com/ciqugegulu/1/edit?html,output

Note that autofocus also seems messed up in jsbin but is working for me locally

### Steps to repro

[2016-05-09 17:21] valdrinkoshi commented on #170
Hi @robdodson, you should test jsbin in output mode only, otherwise the edit iframe won't allow to block the focus.
I cannot reproduce the issue on chrome mac (me opening, clicking in the dialog, then hitting tab):
![dialog-focus](https://cloud.githubusercontent.com/assets/6173664/15121480/bb450438-15cf-11e6-89aa-44d91f7be19e.gif)

[2016-05-09 20:10] robdodson commented on #170
Hm I was actually seeing the problem in a local version and I made the jsbin to reflect what I saw. Let me check the version my app is using

[2016-05-09 20:24] robdodson commented on #170
Here it is in my app:

![dialog](https://cloud.githubusercontent.com/assets/1066253/15126875/1307fc34-15e9-11e6-9544-c0ad5a34d582.gif)

When it opens I hit shift-tab (which does properly trap focus although it causes the page to scroll which is weird). Then I hit tab and it escapes and focus moves into my browser tabs.

This is paper-dialog v1.0.4 in Shrine app. My markup looks like this:

[code]

[2016-05-09 20:49] valdrinkoshi commented on #170
Unfortunately I can't manage to reproduce it, and I cannot see any error from your markup.
Does that happen also if you remove the shrine-app & add a button to open the dialog?

[2016-05-09 22:11] robdodson commented on #170
yep this has the same behavior with 1.0.4

[code]

[2016-05-09 22:54] valdrinkoshi commented on #170
Tested it locally, and I can reproduce the issue, in the sense that the focus goes to the search bar.
Will further investigate if it is possible to block this behavior, marking this as a bug for now.

[2016-05-09 23:12] robdodson commented on #170
It should be possible to block it. Here's a modal I wrote that does so
https://robdodson.github.io/udacity-a11y/lesson2-focus/07-modals-and-keyboard-traps/index-solution.html

On Mon, May 9, 2016 at 3:54 PM, Valdrin Koshi <notifications@github.com>
wrote:

[2016-05-09 23:15] valdrinkoshi commented on #170
Yep, it should be doable by updating `_onCaptureTab` method.
Contributions are welcome if you feel like it, @robdodson ;)

[2016-05-09 23:20] robdodson commented on #170
I can try to look into it. I'm featuring the dialog in my I/O talk so I'd
love to get it fixed if possible. I'm a little backed up writing the talk
itself so if you have any spare cycles to work on it with me that would be
rad.

On Mon, May 9, 2016 at 4:15 PM, Valdrin Koshi <notifications@github.com>
wrote:

[2016-05-09 23:31] valdrinkoshi commented on #170
Ok, I'll give it a shot tomorrow ;)

[2016-05-10 21:09] #170 closed

[2016-05-10 22:10] valdrinkoshi commented on #170
@robdodson fixed & released in `v1.7.3`

[2016-05-10 23:20] valdrinkoshi opened #172 "focus wrapping does not work correctly with dom=shadow"
### Description
overlay with-backdrop doesn't wrap the focus correctly when `dom=shadow`.

### Live Demo
http://jsbin.com/facohe/1/edit?html,output

### Steps to reproduce
1. Click on "open"
2. press Shift+TAB
3. observe focus goes back to "open" button instead of wrapping

### Browsers Affected
Tested only on:
- [x] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [

[2016-05-11 04:28] ChiragMoradiya opened #174 "`iron-overlay` is not closed on outside click when device supports touch + mouse. e.g. Windows 10 laptop with touch support."
### Description
`iron-overlay` is not closed on outside click when device supports touch + mouse. e.g. Windows 10 laptop with touch support.

### Expected outcome
`iron-overlay` should be closed on outside click when device supports touch + mouse. For outside touch it's working.

### Actual outcome
`iron-overlay` is not closed on outside click when device supports touch + mouse. For outside touch

[2016-05-12 00:16] valdrinkoshi opened #176 "_focusableNodes not called if overridden"
### Description
The `IronOverlayBehaviorImpl._focusableNodes` gets called on `attached` instead of the overridden one.
The update of the first & last focusable should probably be deferred only when the dialog is opened, or there should be 2 properties that can be overridden for those.

### Live Demo
http://jsbin.com/xubasi/1/edit?html,output

[2016-05-12 01:47] #172 closed

[2016-05-12 03:44] AndreasGalster commented on #174
Thanks for figuring out the reason! I thought I would go crazy when trying to find the root cause of this bug!

[2016-05-12 22:29] #176 closed

[2016-05-13 02:53] valdrinkoshi opened #179 "separate `iron-overlay-behavior` in multiple, lightweight behaviors"
`iron-overlay-behavior` is composed by 3 parts:
### opening/closing an element
This part eases the showing/hiding of an element, and shortcuts like close on `ESC` pressed.
### focus wrapping/trapping
This part deals with focus e.g. `with-backdrop` should wrap the focus within the element and bring the focus back if the user clicks outside the element. This might be useful also outside overlays.
##

[2016-05-13 02:53] valdrinkoshi commented on #179
@frankiefu @blasten @cdata FYI, feedback more than welcome

[2016-05-13 18:38] valdrinkoshi commented on #179
@keanulee FYI

[2016-05-15 02:52] ChiragMoradiya commented on #174
I have fixed this in my forked branch. I will submit merge request in a day or two.

[2016-05-15 17:52] valdrinkoshi commented on #174
It is fixed in this PR https://github.com/PolymerElements/iron-overlay-behavior/pull/181 and it will be merged & released in the following days :+1:

[2016-05-16 17:37] #174 closed

[2016-05-17 01:38] valdrinkoshi opened #182 "close on click closes more than one overlay"
### Description
The click event causes more than one overlay to close. That's because `click` is triggered before the "synthetic" `tap` from `Polymer.Gestures`. The adding of the overlay to the manager is done asynchronously, it should be the same for the removal, so that during the `event` scope the current overlay won't change.

### Expected outcome

Only the top overlay should be closed.

### A

[2016-05-19 22:28] dpaul opened #184 "Dynamically enabled items aren't included in tab order for modal overlays"
### Description
If I have a paper-button on an overlay that starts out disabled but becomes enabled while the overlay is shown, that button cannot be tabbed to. This was working in version 1.7.2, commit 0680975e5ec1964e0db9752d19d8a4280c6e9907 seems the likely culprit

### Expected outcome

I should be able to tab to the item.

### Actual outcome

I can't tab to the item.

### Live Demo
http://jsb

[2016-05-20 01:07] valdrinkoshi commented on #131
Duplicate of https://github.com/PolymerElements/iron-overlay-behavior/issues/179

[2016-05-20 01:07] #131 closed

[2016-05-20 01:19] valdrinkoshi commented on #184
Also with `v1.7.2`, after enabling the Ok button, the focus wouldn't wrap http://jsbin.com/zakuni/1/edit?html,output

In `v.1.7.2`, `iron-overlay-behavior` would search for the focusable elements when its children changed (before the `paper-button` would be disabled). In the latest version, this search is done when the overlay is fully opened (right before sending `iron-overlay-opened`).

There is

[2016-05-20 02:43] alvarouribe opened #185 "Better documentation"
### Description
The `README.md` page could be better explaining how to utilise this element

### Expected outcome

Add a quick example or add a reference to the demo page to see an easy example.
I wish that all elements would have the same easy way to explain how to implement/use it
Maybe a small 4 step tutorial to use it

### Actual outcome

explains the behaviour of the element without explain h

[2016-05-20 17:27] valdrinkoshi commented on #185
@arthurevans FYI

[2016-05-20 17:35] valdrinkoshi commented on #185
In general, behaviors should be used/implemented as [explained here](https://www.polymer-project.org/1.0/docs/devguide/behaviors). In the catalog, it would be helpful to have this link available when the user is on a behavior.
In the catalog demo pages, it is currently not possible to "easily" access to the implementation of test elements (e.g. `simple-overlay`):
<img width="450" alt="screen shot

[2016-05-24 19:12] valdrinkoshi commented on #166
@AndreasGalster, there are 2 ways to tackle this problem:
- move the `iron-overlay-backdrop` into the root of the opened overlay (see [backdrop-in-overlay](https://github.com/PolymerElements/iron-overlay-behavior/compare/backdrop-in-overlay) branch); this would keep the backdrop as a singleton, and would allow to style it according to the overlay that contains it (see this jsbin http://jsbin.com/z

[2016-06-03 17:00] MartinMoizard opened #188 "Tab does not focus next focusable element when elements are not in the light DOM"
### Description
If the focusable elements are not in the light DOM of the iron-overlay-behavior component, tapping the tab key does not focus the next element.

### Expected outcome
The next element should be focused.

### Actual outcome
The focus is lost.

### Live Demo
https://jsfiddle.net/2q3fqehz/45/

### Steps to reproduce

- Clic in the 1st input
- Push the tab key on your keyboard
- The foc

[2016-06-03 17:03] MartinMoizard commented on #188
@valdrinkoshi reading the code, I would fix this issue by changing line 535 from

to
`if (nodeToCheck != null && nodeToSet != null && nodeToCheck === nodeToSet) {`
what do you think?

[2016-06-03 17:11] valdrinkoshi commented on #188
Hi @MartinMoizard, overlays will search for first focusable and last focusable in the distributed children, while in your example you have focusable elements in the shadowDOM of another element.
From the POV of the overlay, it sees only `sample-content`, which is not focusable.
I'm working on creating `iron-focus-wrap-behavior` (see issue https://github.com/PolymerElements/iron-overlay-behavior/is

[2016-06-03 18:34] valdrinkoshi commented on #188
Closing this as each component should handle focus within its light dom.

[2016-06-03 18:34] #188 closed

[2016-06-03 20:47] jay8t6 opened #189 "/deep/ combinator is deprecated."
Import to iron-fit-behavior.html is causing the following warning in console.
/deep/ combinator is deprecated. See https://www.chromestatus.com/features/6750456638341120 for more details.

I am not sure if this should be filed under iron-fit-behavior repo or this repo needs the latest version of iron-fit-behavior (I see that you are using 1.0.0, but the latest version of iron-fit-behavior is 1.2.2

[2016-06-03 23:10] valdrinkoshi commented on #189
All the imports done in `iron-overlay-behavior` are either other behaviors (which don't have any style).
The only one with styles defined is `iron-overlay-backdrop`, which doesn't have any /deep/ selector.

`iron-fit-behavior` as well doesn't define any style, it's only importing `polymer/polymer.html`.
It doesn't seem related to `iron-fit-behavior` or `iron-overlay-behavior`: could you provide mo

[2016-06-06 21:43] #166 closed

[2016-06-06 21:48] valdrinkoshi commented on #127
@lkovaleva is this still an issue? The PR https://github.com/PolymerElements/iron-overlay-behavior/pull/123 changed it to  `var z1 = Number(overlay.style.zIndex || window.getComputedStyle(overlay).zIndex);`

[2016-06-06 21:54] valdrinkoshi commented on #124
Technically, this would be a breaking change, so it could not be merged in `iron-overlay-behavior v1.x`

[2016-06-08 16:02] wyattallen commented on #185
The documentation should describe the focus-wrapping feature. Focus wrapping can cause issues such as #184 and #188 and are likely not an expected feature of an overlay. For my part, I had to dig into the source-code to discover the feature and diagnose my issue with it.

[2016-06-08 16:10] wyattallen commented on #188
I'd like to second the suggestion @MartinMoizard makes for l.535. If the overlay fails to find the first and last focusable children, it checks whether `nodeToCheck === nodeToSet`, which passes because they are both undefined.

Moreover, @valdrinkoshi, you suggest that `each component should handle focus within its light dom`. How would you implement this in the sample @MartinMoizard provides? The

[2016-06-08 17:03] wyattallen opened #191 "iron-overlay-{opened,closed} events called before overlay is opened/closed"
### Description
The `iron-overlay-opened` is emitted **before** the overlay is opened. Additionally, the `iron-overlay-closed` event is emitted **before** the overlay is closed.

The iron-overlay-behavior documentation specifically say the following. (Emphasis mine.)
* `iron-overlay-closed` Fired **after** the overlay closes.
* `iron-overlay-opened` Fired **after** the overlay opens.

### Expected

[2016-06-08 17:41] valdrinkoshi commented on #191
Hi @wyattallen, I think this is related to the fact that you're using `alert` which seems to take precedence to the finishing of the animation (seems like it interrupts it until you dismiss the alert).
In any case, if you use `document.elementFromPoint` to see what's the element in the center of the screen, you'll see that it will return elements in the `x-overlay` when it is opened.
http://jsbin.

[2016-06-08 18:16] helenxywu opened #192 "Focus should work in shadow DOM in addition to light DOM"
### Description
When an element with iron overlay behavior contains custom elements, the overlay with backdrop should be able to tab into the shadow DOM of those elements. If not a full fix, would be nice to be able to provide focusable nodes to the containing element and have a behavior that finds the focusable nodes in an element.

### Expected outcome
The elements inside of shadow DOM should be

[2016-06-08 18:22] valdrinkoshi commented on #188
From the POV of `iron-overlay-behavior`, there are no focusable nodes in the distributed nodes, hence it should prevent the TAB so that focus won't go out of the overlay (see [this comment](https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L535)). This should be done also in the case where there is only 1 focusable node.

For now, the best option is to

[2016-06-08 18:33] wyattallen commented on #188
Hi, @valdrinkoshi, thanks! This sounds like it should be an entry in the limitations section of the docs.

[2016-06-08 19:51] wyattallen commented on #191
@valdrinkoshi Thanks. I see what you mean. Although it does seem a little nonintuitive for the event to fire before the animation is complete. Closing.

[2016-06-08 19:51] #191 closed

[2016-06-08 20:42] valdrinkoshi commented on #188
Good idea @wibblymat!
Another option is to add focusable placeholders before and after the `sample-content` in the `paper-dialog` http://jsbin.com/tinafe/7/edit?html,output
Like this, focus will wrap even if `sample-content` is not focusable.

[2016-06-08 20:43] valdrinkoshi commented on #192
Hi @helenxywu, the custom element needs to be focusable (aka should have `tabindex >= 0`).
Another option is to insert focusable placeholder elements as first and last child of the `paper-dialog` http://jsbin.com/tinafe/7/edit?html,output

[2016-06-08 20:56] valdrinkoshi commented on #191
@wyattallen the event is fired after the animation is complete.
`iron-overlay-behavior` by default doesn't have any animation, while the `iron-overlay-backdrop` does.

If you animate the overlay, you'll see it rendered when the alert is fired http://jsbin.com/kebasaj/3/edit?html,output

[2016-06-14 21:48] kirilledelman commented on #192
I'm having an issue with this behavior:

I'm using paper-dialog to wrap and display various forms. These forms are components by themselves - e.g. share-dialog, signup-dialog etc. Paper-dialog gets these forms as a child.

I found that I'm unable to tab from field to field inside my forms, because paper-dialog considers my form an atomic element, and ignores tabbable elements in the shadow dom.

I

[2016-06-14 22:14] kirilledelman commented on #192
Here's a workaround I've come up with. I hope Polymer team can make this obsolete:

[code]

[2016-06-15 17:48] lkovaleva commented on #127
Hi, sorry for the slow response, I will double check this week and follow up, thanks!

[2016-06-16 19:56] motss commented on #188
@valdrinkoshi Any solution for this example at the moment? http://jsbin.com/tojoroyibi/1/edit?html,output

[2016-06-20 19:34] valdrinkoshi commented on #188
Hi @motss, unfortunately your example shows even more the current limitation: `iron-overlay-behavior` assumes its content will be distributed directly into the element, while in your case the content of `x-example` gets distributed into the `paper-dialog`.
So unfortunately no temporary solutions except moving the content inside the `paper-dialog`
[code]
The ideal solutions will be the one I talked

[2016-06-20 21:59] valdrinkoshi opened #194 "Distributed children break focus wrapping"
### Description
Focusable children that are distributed into an overlay by another element break the focus wrapping
[code]

### Live Demo
 http://jsbin.com/tojoroyibi/1/edit?html,output

[2016-06-20 22:00] valdrinkoshi commented on #188
Looking into it a bit deeper, the problem is that `iron-overlay-behavior` searches into the children in the light dom without considering the distributed ones. I've opened a separate issue for it https://github.com/PolymerElements/iron-overlay-behavior/issues/194

[2016-06-21 16:17] motss opened #195 "Loses focus on emulated device mode and mobile devices"
### Description
When `restore-focus-on-close` is set, the `restoreFocusNode` loses focus when overlay closes on emulated device mode on Chrome and mobile devices. However, on desktop, `restoreFocusNode` focuses and can be seen with focus ring when overlay closes.

### Expected outcome
`restoreFocusNode` focuses with visible focus ring.

### Actual outcome
`restoreFocusNode` loses focus when overla

[2016-06-21 17:27] notwaldorf opened #196 "Setting hidden to true can break accessibility in paper-dialog"
_From @cbelden on June 15, 2016 18:42_

Came across an issue where a hidden `paper-input` elements prevent correct tabbing behavior in a paper-dialog.

[code]

After opening the dialog, and clicking on the header, pressing tab does not focus the buttons. Here's the jsfiddle: https://jsfiddle.net/cbelden/tjrt692z/2/

Is this expected behavior? Should we enclose dynamic input elements in `dom-if`s i

[2016-06-21 17:27] notwaldorf commented on #196
@valdrinkoshi I think this sounds like a `paper-dialog` issue, possibly with the focus wrapping code?

[2016-06-21 17:27] notwaldorf commented on #196
_From @valdrinkoshi on June 21, 2016 0:9_

Yes and no...`paper-input` is considered to be focusable, but the `hidden="true"` makes it effectively not focusable. I would suggest to also set `tabindex="-1"` to the hidden `paper-input` http://jsbin.com/qiyero/1/edit?html,output

[2016-06-21 17:27] notwaldorf commented on #196
Shouldn't there be a rule about ignoring all `hidden` elements, whatever they are? Even if I have a `<button hidden>`, that will never be focusable as is, so it shouldn't be considered the first element in the chain, no?

[2016-06-21 17:27] notwaldorf commented on #196
_From @valdrinkoshi on June 21, 2016 0:19_

Uhm, then we'd need to do the same for all the visual properties that effectively disable the possibility to focus an element like `display: none` or `opacity: 0`.

[2016-06-21 17:27] notwaldorf commented on #196
Well, if `hidden` works, which it doesn't, it literally does `display:none` and removes the element. `opacity` or `visibility` still leave the element there, and just make it invisible. I understand what you mean, but I also think that having a `hidden` input be considered for anything is unintuitive.

[2016-06-21 17:27] notwaldorf commented on #196
_From @blasten on June 21, 2016 0:46_

This is the 0.5 element 😅

[2016-06-21 17:27] notwaldorf commented on #196
@blasten This is the 0.5 repo, but if you look at the linked code, it's about the 1.0 elements. Since I wasn't sure if I should move the issue to `paper-dialog`, i wanted to get @valdrinkoshi's  opinion first.

[2016-06-21 17:27] notwaldorf commented on #196
_From @valdrinkoshi on June 21, 2016 12:6_

I believe this is definitely related to the incapability of `iron-overlay-behavior` to recognize the tabbable elements. Feel free to move it there :)

[2016-06-21 21:04] mhahmadi opened #197 "__[first|last]FocusableNode should not be stored"
An overlay dialog element's children might change dynamically. For example, the dialog could have an 'OK' button that is initially disabled, but gets enabled once some selection is made in the dialog.

### Expected outcome

Once the 'OK' button becomes enabled it should get focus.

### Actual outcome

the 'OK' button won't get focus b/c focusable nodes are cached when the dialog is initially displ

[2016-06-21 23:01] valdrinkoshi commented on #197
Hi @mhahmadi, this looks like a duplicate of https://github.com/PolymerElements/iron-overlay-behavior/issues/184.
[This comment](https://github.com/PolymerElements/iron-overlay-behavior/issues/184#issuecomment-220494270) should be helpful :)
Closing this as duplicate

[2016-06-21 23:01] #197 closed

[2016-06-21 23:30] mhahmadi commented on #197
Thank you for the prompt response.

[2016-06-22 21:55] valdrinkoshi commented on #195
Hi @motss, I noticed 2 things (see this simplified example http://jsbin.com/hefoluk/6/edit?html,output):
- when `tap` event is fired, `document.activeElement` is not updated to be the element tapped yet (press `ontap` button and check the log), so you might want to set the tapped element to be focused (`event.target.focus()`)
- with `onclick` button, focus gets restored, but on the device simulato

[2016-06-22 23:41] valdrinkoshi commented on #195
After further tests here http://jsbin.com/hefoluk/8/edit?html,output, I see weird things going on with focus changes:
- with `tap` event, the button is not focused yet when we open the dialog
<img width="366" alt="ontap" src="https://cloud.githubusercontent.com/assets/6173664/16287059/c4436b90-38e0-11e6-9b03-245407f6bee9.png">
- with `click` event, the button is focused before we open the dialog (

[2016-06-23 16:40] valdrinkoshi commented on #195
I've created this issue https://github.com/Polymer/polymer/issues/3732

[2016-06-24 13:16] valdrinkoshi commented on #124
Here a solution for `iron-overlay-behavior 1.x`, it consists in waiting for the overlay to be opened and then setting the `z-index` to the backdrop element http://jsbin.com/getixu/2/edit?html,output

[2016-06-27 14:14] valdrinkoshi commented on #189
Closing this for now (21 days without a response)

[2016-06-27 14:14] #189 closed

[2016-06-27 14:23] valdrinkoshi commented on #192
The `_focusableNodes` getter can already be overridden by the implementors the behavior. It is a `protected` since the idea is to not expose it to the element user.
Is it an option for you to implement `paper-dialog-behavior` (which includes `iron-overlay-behavior`) and override `_focusableNodes`, instead of using `paper-dialog`?

[2016-06-27 14:27] valdrinkoshi commented on #192
Ideally, the platform should help us with something like this https://github.com/whatwg/html/issues/897; with that, all the overlay would only have to do would be:
[code]

[2016-06-27 21:47] #185 closed

[2016-06-29 23:43] freshp86 commented on #184
cc: @danbeam

I am facing the same problem in Chrome's Polymer settings (see https://bugs.chromium.org/p/chromium/issues/detail?id=623907#c3). Specifically we have a dialog with a "submit" button that is disabled initially, and it only gets enabled after the user fills in some text inputs. The button is not reachable via TAB key. See example at https://jsfiddle.net/944v704y/1/. Probably a regressi

[2016-06-30 17:40] valdrinkoshi opened #201 "Long delay between paper-dropdown-menu open and focus"
_From @rictic on April 19, 2016 18:49_

Moved from internal bug:

See: https://elements.polymer-project.org/elements/paper-dropdown-menu?view=demo:demo/index.html&active=paper-dropdown-menu

In paper-dropdown-menu I'm seeing a 540ms delay between when the dropdown is opened and the first item gets rendered as focused. This creates a jarring change after the UI should already be stable.

This is ca

[2016-06-30 17:40] valdrinkoshi commented on #201
This is a behavior of `iron-overlay-behavior`, which postpones the focusing at the end of the animations. This should be done before. Will move this issue there

[2016-07-03 00:24] markovuksanovic commented on #140
+1

[2016-07-07 16:03] #201 closed

[2016-07-08 16:33] vehsakul opened #204 "focus issue specific to the versions used"
### Description
wrong input traversal order when pressing TAB,

iron-overlay-behavior doesn't consider inputs as focusables (put a breakpoint [here](https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L222))

### Expected outcome

when pressing TAB and the focus is on the first input, the following input gets focused

### Actual outcome

the button gets

[2016-07-12 23:09] valdrinkoshi commented on #204
This is similar to the issue reported here https://github.com/PolymerElements/iron-overlay-behavior/issues/192, and is being solved in PR #200. Will close this as it's a duplicate.

[2016-07-12 23:09] #204 closed

[2016-07-13 12:54] SPAHI4 commented on #140
+1

[2016-07-16 20:05] joeblew99 opened #206 "Demo does not work for scrolling overlay in landscape mode"
The demo running on the polymer elements web site.
The overlay does not centre vertically when in landscape.

Environment context:
Android Nexus 6, latest standard android.
Chrome browser

[2016-07-18 17:31] valdrinkoshi commented on #206
Hi @joeblew99, All the overlays are not centered, because the demo is contained in an `iframe` hence the overlay can be centered only within the iframe https://elements.polymer-project.org/elements/iron-overlay-behavior?view=demo:demo/index.html&active=Polymer.IronOverlayBehavior

If you open the demo page by itself you should see them centered https://elements.polymer-project.org/bower_components

[2016-07-19 17:35] valdrinkoshi commented on #206
The demo should be adjusted anyways, since the scrolling content goes outside the window when on landscape.

[2016-07-20 10:06] bwh-rl opened #208 "Backdrop in front of overlay on iOS"
### Description

If an overlay (e.g. an paper-dialog) is inside an paper-header-panel, the backdrop is in front of the overlay on iOS safari.
### Expected outcome

Backdrop is behind the overlay.
### Actual outcome

Backdrop is in front of the overlay.
### Live Demo

https://jsbin.com/mopahuruje/1/edit?html,output

Looks like html imports are not working in safari, so the jsbin example is vulcaniz

[2016-07-20 12:49] bwh-rl commented on #208
Debugged this, this is not an JS issue, iron-overlay-manager's trackBackdrop method is assigning the correct z-index.

It looks like the z-index breaks due the flex layout used in the paper-header-panel.

[2016-07-20 13:49] bwh-rl commented on #208
It's not the flex layout, the bug is triggered by the overflow properties.
https://jsbin.com/mawukekice/5/edit?html,output

[2016-07-20 17:41] valdrinkoshi commented on #208
Hi @bwh-rl,
This issue has already been reported [many, many times](https://github.com/PolymerElements/paper-dialog/issues?utf8=%E2%9C%93&q=is%3Aissue%20%22stacking%20context%22)...Unfortunately this is a known limitation of overlays, which are stacking-context-sensitive. From [iron-overlay-behavior documentation](https://elements.polymer-project.org/elements/iron-overlay-behavior):

This is due t

[2016-07-20 18:37] #206 closed

[2016-07-20 22:00] andreasanheuser opened #209 "Order of focusable elements gets messed up by tabIndex sorting"
### Description
`get _focusableNodes()` uses `Array.sort` to sort focusable elements by `tabIndex` ([see here](https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L228)). However, `Array.sort` is not guaranteed to be stable ([see documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort)). This leads to th

[2016-07-20 22:10] valdrinkoshi commented on #209
Thanks for reporting, @andreasanheuser! Sorting by tabindex shouldn't be necessary, as using tabindex > 0 is considered an anti-pattern. [In this PR](https://github.com/PolymerElements/iron-overlay-behavior/pull/200/files#diff-85329e739caff16e918d7795425ad390R26) (still under review) we avoid sorting if not necessary. I'll look into solving the issue there

[2016-07-21 09:18] bwh-rl commented on #208
As "whenever possible" indicates, it's not always possible.
I'm working on a bigger app and got the content separated into elements.

So the way this should be done is to put all overlays of the complete app out of their related view elements and but them all in the body?

Since i handle the scrollable area inside of most content elements manual via applying the --layout-scroll mixin, i have remov

[2016-07-21 17:18] valdrinkoshi commented on #208
Unfortunately this is a limitation of the platform, as we don't have a way to go outside a stacking context. Even if the backdrop is put inside the overlay, if the parent creates a stacking context it would crop all its children, [see this example](http://jsbin.com/nopujef/3/edit?html,output).
One could use the [`<dialog>` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog),

[2016-07-22 07:43] bwh-rl commented on #208
Overlay 2.0 sounds like the optimal solution, you could then use the stacking context instead of beeing affected by it.
Since overlay is the only element demanding z-indexes over the whole APP, elements like drawer panel could create their own stacking context which would allow users to use z-index inside the content without e.g. overlapping the scrim.
Would also make hardly comprehensible z-index

[2016-07-29 18:17] helenxywu opened #210 "restoreFocusOnClose should only show visible focus when restoring with keyboard"
### Description
When restoreFocusOnClose is on, when user exits out of iron overlay, the focus is visible on the item the focus was restored to. This is the correct behavior for keyboard navigation, but not mouse navigation. This causes an awkward focus ring after the user exits using mouse.

### Expected outcome

The focus should show if restored focus using keyboard, but focus ring should not sh

[2016-08-03 19:13] valdrinkoshi commented on #210
Hi @helenxywu, the element receiving the focus is responsible of showing or not the focus ring.

`iron-overlay-behavior` will move the focus to that element on close if `restoreFocusOnClose = true`. It will handle the "when", and delegate the "how" to the elements implementing this behavior, which can do that by:
- setting `restoreFocusOnClose` according to the closing reason (e.g. if overlay is c

[2016-08-03 19:13] #210 closed

[2016-08-03 23:43] #182 closed

[2016-08-17 22:24] helenxywu opened #212 "IronOverlayManager should skip elements that have noCancelOnOutsideClick/Esc when a close event is handled"
### Description

An overlay with noCancelOnOutsideClick prevents all overlays without cancel to stay open.
Example:
There are two overlays. A dropdown opens and a user does an action on the dropdown triggering a toast to open. The toast has noCancelOnOutsideClick = true, but the dropdown should close on outside click or esc key.
### Expected outcome

The dropdown stays open when the user clicks ou

[2016-09-12 13:36] Gaubee opened #215 "iron-overlay-backdrop conflict with app-header-layout"
### Description
`<iron-overlay-backdrop>` will append to `<body>`.
When I use `<app-header-layout>` , `<iron-overlay-backdrop>` will keep to top. because the `<app-header-layout>`  will be set `z-index` as `0` . so will be aways under `<iron-overlay-backdrop>` , and lost control of the pop-up box.

Similar code would happen if developers use the z-index attribute to control layout.

### Expected o

[2016-09-13 01:54] valdrinkoshi commented on #215
Hi @Gaubee, looks like a duplicate of https://github.com/PolymerElements/iron-overlay-behavior/issues/208#issuecomment-234321807
Unfortunately solutions like adding the backdrop as child of the overlay (see [this PR](https://github.com/PolymerElements/iron-overlay-behavior/pull/180)) would be a breaking change :/

[2016-09-13 01:57] valdrinkoshi commented on #215
For the time being, the best is to declare `paper-dialog` as a sibling of `app-drawer-layout`, e.g.  https://jsbin.com/likela/2/edit?html,output

Closing as this is a duplicate

[2016-09-13 01:57] #215 closed

[2016-09-15 15:37] mshahidkhan opened #216 "iron-overlay-behavior throws an error 'Uncaught SyntaxError: Invalid or unexpected token'"
### Description

iron-overlay-behavior throws an error 'Uncaught SyntaxError: Invalid or unexpected token'.

It looks like browser is interpreting Commented header section of iron-overlay-behavior.html differently.
I see a script inserted in the commented section. Please refer attached screenshot.

**I didn't see the issue in localhost but when I access my QA/Dev server, I see the issue.**
Verifie

[2016-09-19 08:25] flyingfish2016 opened #217 "get deepActiveElement needs to check if it's a svg"
When the activeElement is a svg, it couldn't be focus via "focus" method.

  _prepareRenderOpened: function() {
      // Store focused node.
      this.__restoreFocusNode = this._manager.deepActiveElement;

      // Needed to calculate the size of the overlay so that transitions on its size
      // will have the correct starting points.
      this._preparePositioning();
      this.refit();

[2016-09-19 18:27] valdrinkoshi commented on #217
Hi @flyingfish2016, in which browser do you see this issue? If that happens in IE/Edge, PTAL at this PR https://github.com/PolymerElements/iron-overlay-behavior/pull/211, you might want to try the suggested workaround https://github.com/PolymerElements/iron-overlay-behavior/pull/211#issuecomment-239552801

[2016-09-21 02:27] flyingfish2016 commented on #217
Hello valdrinkoshi, it happens in IE/Edge.

The exception throws at this line: this.__restoreFocusNode.focus();
Object doesn't support property or method 'focus'

[2016-09-21 18:39] valdrinkoshi commented on #217
This is an issue on IE/Edge https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8479637/
Please see the provided solution there or in this thread https://github.com/PolymerElements/iron-overlay-behavior/pull/211#issuecomment-248703508

Closing this

[2016-09-21 18:39] #217 closed

[2016-09-22 18:23] valdrinkoshi commented on #216
Seems like the QA/Dev server sees `<body>` in [line 46](https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L46) but doesn't realize it is in comment block. Could you check/share how are you deploying?

[2016-09-22 18:43] ardean commented on #216
@valdrinkoshi thank you for your quick response, removing <body> works for me!
This problem occurs only in Firefox. Chrome, Safari and Internet Explorer are not affected by this.
Everything is served by browser sync.

[2016-09-22 18:51] valdrinkoshi commented on #216
Looks a problem in your tooling, some of it has a bad html parser that doesn't recognize it is in a comment section. It looks like it inserts beacon scripts in any html found on its way.
Are you using any polymer-issued tooling?

[2016-09-22 19:21] mshahidkhan commented on #216
It works if vulcanize or minification is done OR manually removing the comment.
We use IIS server and no minification for local environments.

The open questions are -
1. Why is it happening ? Why only with iron-overlay-behavior ?
2. What can be done (other than removing comments via vulcanize/task runner).
3. What change brought this issue? (it was not there before and I have not updated my iron-

[2016-09-22 19:38] valdrinkoshi commented on #216
I don't know why this is happening, I just see that your server changes this
[code]
to this
[code]
I assume that deep down that script there is a comment as well and it ends with */ which closes the comment block and creates the issue.

So I suggest you find who is replacing `<body>` to `<script type="text/javascript">window.NREUM||`.
Possible solutions:
- Make that tool skip the polymer elements

[2016-09-22 20:09] ardean commented on #216
@valdrinkoshi you're right! browsersync causes this issue in my case.
Thank you for your support.

![photo](https://cloud.githubusercontent.com/assets/17138728/18764121/685ac788-8110-11e6-8613-df242e7c0ccb.png)

[2016-10-11 21:26] valdrinkoshi commented on #212
@helenxywu, the current implementation delegates the click handling (same for esc, tab, and focus events) to the `currentOverlay` (aka the last opened overlay). Changing this would be a breaking change, e.g. see this example http://jsbin.com/yefuda/3/edit?html,output (try uncommenting the other `<base>`).
We're missing a way to delegate the event handling to the next overlay.

Can you ensure the `

[2016-10-12 19:03] eliseosoto opened #220 "Can't dismiss overlay by clicking inside an iframe in the same document."
### Description
The overlay can't be dismissed by clicking outside it if the click is on an iframe embedded in the parent document.

### Expected outcome
The overlay should be dismissed because the user clicked outside it within the same document.

### Actual outcome

### Live Demo
Example: https://plnkr.co/edit/ibiIKMM4Ez5pkdvXsOAY

### Steps to reproduce

1. Open the live demo.
2. Click on the "

[2016-10-12 22:34] valdrinkoshi commented on #220
`click` event cannot be captured when it happens in an iframe even if we use `useCapture = true` http://jsbin.com/qorino/1/edit?html,output
The only way to work around this is disable the iframe interactions when the overlay is opened by setting `pointer-events: none`

[2016-10-26 18:59] #192 closed

[2016-10-26 18:59] #194 closed

[2016-10-26 18:59] #196 closed

[2016-10-26 18:59] #209 closed

[2016-10-28 00:57] #220 closed

[2016-10-28 00:59] valdrinkoshi commented on #127
@lkovaleva I'll close this for now, and re-open if the problem persists.

[2016-10-28 00:59] #127 closed

[2016-10-28 01:08] valdrinkoshi commented on #40
`Polymer.IronOverlayManager` provides the [ensureMinimumZ](https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-manager.html#L197) method that you could use to ensure all overlays have a minimum z-index http://jsbin.com/riwisab/2/edit?html,output

If you want to target only the overlays with backdrop, you can set the z-index to these overlays instead of the backdrop ht

[2016-10-28 01:08] #40 closed

[2016-11-07 21:06] lkovaleva commented on #127
Sorry for the delay, I removed our old workaround and verified the issue is fixed, thanks!

[2016-12-01 14:49] puranjayjain commented on #77
This issue has propped up again in Chrome x64 Version 54.0.2840.99 m

![image](https://cloud.githubusercontent.com/assets/5458094/20798032/67056760-b803-11e6-96a1-9ca8d489fa98.png)

[2016-12-15 08:49] hinderer-matthieu opened #222 "backdrop is not defined"
### Description
Hello,
When I use this sample code from this [page](https://beta.webcomponents.org/element/PolymerElements/iron-overlay-behavior/demo/demo/index.html) on chrome:

[code]

It works on polymer's website but in my case I get this error:
_index.html:1 Uncaught ReferenceError: backdrop is not defined
    at HTMLButtonElement.onclick (index.html:1)_

### Browsers Affected
Chrome

### Bro

[2016-12-19 19:58] ocarvajal opened #223 "After reattaching, opened state is set to false but element remains visible"
### Description
I'm using a paper-menu-button with closeOnActivate on. One of the options of the menu makes the container element to be removed from the DOM and replaced with a second element. Yet, from the second element I can choose to switch back to my first element withe menu. This brings the dropdown element into an inconsistent state where opened is false, but the element is visible.

### Ex

[2016-12-21 02:55] valdrinkoshi opened #225 "manager should have a capturing event for tap"
This change https://github.com/PolymerElements/iron-overlay-behavior/commit/d1adb7635f6a568afd0554e2588a3fc3b59ed092#diff-3a555b03d77a3dc28aad3488eed08943R43 made the listener non-capturing, allowing other listeners of the `tap` event to effectively prevent the closing of an overlay by calling `event.stopPropagation()`.
E.g. see this example https://jsbin.com/zewuqe/3/edit?html,output
The menu sho

[2016-12-27 18:44] ergo commented on #215
Is there any other solution to this?

With lazy-loaded elements, and template bindings it seems that advice to put everything outside of drawer is very problematic.

[2017-01-02 08:48] ampersand8 commented on #222
I'm having the exact same issue with the plain example. Works fine in Firefox but not Chrome.

_list-projects:1 Uncaught ReferenceError: plain is not defined
    at HTMLElement.onclick (list-projects:1)_

[2017-01-20 05:56] vinerz commented on #140
+1, just had a dialog dancing on iOS while scrolling the document with the dialog open.. 😢

[2017-01-31 18:41] valdrinkoshi commented on #223
Basically the overlay gets detached while animating...nice one, thanks for reporting @ocarvajal!

[2017-01-31 19:22] valdrinkoshi commented on #222
Yes, please see this discussion for further info https://github.com/PolymerElements/paper-dialog/issues/128#issuecomment-248773545

[2017-01-31 19:22] #222 closed

[2017-01-31 19:24] valdrinkoshi commented on #216
@mshahidkhan can I close this issue or the problem still persists for you?

[2017-01-31 19:30] mshahidkhan commented on #216
@valdrinkoshi yes, you may close it.
Thanks.

[2017-01-31 19:31] #216 closed

[2017-02-21 14:10] TomK opened #232 "Polymer 2.0 - Polymer.Gestures.add has been privatized"
This [Polymer 2.0 PR](https://github.com/Polymer/polymer/pull/4312) appears to have refactored the `Polymer.Gestures.add` method to `Polymer.Gestures._add` [here](https://github.com/Polymer/polymer/pull/4312/files#diff-20794b26841d6321df19e97b3f198111L342)

This affects [iron-overlay-manager#L43](https://github.com/PolymerElements/iron-overlay-behavior/blob/2.0-preview/iron-overlay-manager.html#L4

[2017-02-21 21:27] valdrinkoshi commented on #232
This should be reverted in polymer#2.0-preview to avoid breaking changes, please follow here https://github.com/Polymer/polymer/issues/3936
Closing this

[2017-02-21 21:27] #232 closed

[2017-02-24 18:35] #225 closed

[2017-03-24 19:24] camargo opened #235 "TypeError: t.getBoundingClientRect is not a function"
### Description
This is the same issue as #44.

### Expected outcome

No error should be thrown.

### Actual outcome

Getting the error in the console:

`TypeError: t.getBoundingClientRect is not a function`

This is being triggered by https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-manager.html#L46

![capture](https://cloud.githubusercontent.com/assets/683355/243

[2017-03-24 19:55] valdrinkoshi commented on #235
In Firefox apparently the `event.target` is `document`, while in the other browsers is `document.documentElement` (aka `<html>`), see a simpler repro http://jsbin.com/mabisob/2/edit?html,console,output
This issue should be resolved in `Polymer.Gestures`, will move the issue there.

[2017-03-24 19:55] valdrinkoshi commented on #235
This issue was moved to Polymer/polymer#4459

[2017-03-24 19:55] #235 closed

[2017-03-24 20:28] camargo commented on #235
@valdrinkoshi Right now the gesture is being added to `document` (https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-manager.html#L46). Could we add it to `body` or `html`. That could fix the issue.

[2017-03-24 20:47] valdrinkoshi commented on #235
I'd do `document.documentElement` for all of these https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-manager.html#L46-L49 👌
PRs welcome 😃

[2017-03-24 21:13] camargo commented on #235
@valdrinkoshi Alright that should do it, please ignore the first one

[2017-03-29 20:01] aigan opened #238 "autofocus does not work in Firefox"
### Description
autofocus does not work in Firefox.

I replaced _focusNode with a working version. Replaceing
  `Polymer.dom(this).querySelector('[autofocus]')`
with
  `this.querySelector('[autofocus]')`

The focus will not work without that fix.

### Expected outcome
Focus should be set to the autofocus element in a iron-overlay-behavior component.

### Actual outcome
The search fo autofocus fail

[2017-03-29 21:40] valdrinkoshi commented on #238
The behavior autofocuses distributed content by design. If you want to change this behavior, its totally legit to override the `_focusNode` getter as you're doing.
In your example, your element wants to autofocus a node contained in the shadowRoot: to achieve that, you should override `_focusNode` like this:
[code]
or just assign an id to the autofocusable node and refer to it using `this.$.autofo

[2017-04-10 18:10] #238 closed

[2017-04-11 08:51] rene-lindner-isw commented on #208
Any news on overlay 2.0? In paper-dialog#2.0-preview this issue is still present.

[2017-04-11 16:15] MartinsThiago commented on #124
Houston... we still have a problem

![image](https://cloud.githubusercontent.com/assets/8419829/24919006/b4ec6bc4-1eb8-11e7-844b-5810d3f3dec4.png)

Polymer: v1.8.1
iron-overlay-behavior: v1.10.4

[2017-04-11 18:05] valdrinkoshi commented on #208
To solve this issue, we'd have to reparent the overlay and its content into `<body>` or any other stacking-context-safe node. This would be a breaking change because:
- style encapsulation won't apply
- attach/detach/attach will lead to poor performance
- query selectors and events would fire from a different tree branch than where you declare originally your overlay

In 2.0, we want to keep our e

[2017-04-11 18:05] #208 closed

[2017-04-11 18:10] valdrinkoshi commented on #124
@MartinsThiago  to solve that issue, we'd have to reparent the overlay and its content into `<body>` or any other stacking-context-safe node. This would be a breaking change because:
- style encapsulation won't apply
- attach/detach/attach will lead to poor performance
- query selectors and events would fire from a different tree branch than where you declare originally your overlay

In 2.0, we wa

[2017-04-12 09:40] rene-lindner-isw commented on #208
Due the z-indexes used by app-drawer-layout and app-header layout this issue gets even more present.

You just can't use an modal paper-dialog inside an app-drawer-layout or app-header layout.
Means you can't use a modal paper-dialog inside an polymer-starter-kit view.

Though i'm aware that the problem is complex and there is no simple solution.
The new approach looks promising :).

For our useca

[2017-04-12 18:06] rwestlund commented on #208
@rene-lindner-isw  I've implemented something similar in my applications.

I group all my dialogs in a custom element outside the `app-layout` elements and I use `iron-signals` to communicate with it from various points in my app.  In the "please open dialog x for me" events I include data to fill the form or dialog, a reference to `this` (the requesting element), and the name of a callback functi

[2017-04-12 19:37] valdrinkoshi commented on #208
FYI I've started a discussion on this problem here to see what help we can get from the platform on this issue https://github.com/whatwg/html/issues/2525

[2017-04-13 11:11] rene-lindner-isw commented on #208
Published the element on webcomponents.org - https://www.webcomponents.org/element/IswPolymerElements/isw-dialog

@valdrinkoshi if you have some time, could you may take a look at it and give me some feedback?

[2017-04-20 17:46] ifahrentholz opened #242 "Backdrop not attached for Polymer v2"
### Description

The `simple-overlay with-backdrop` does not attach the backdrop markup to the DOM.

### Usage:
`<v2-overlay id="backdrop" with-backdrop></v2-overlay>`

### Element markup:
[code]

**I've also tried to use the property directly - without success:**
[code]

### Actual outcome

The `with-backdrop` prop is not considered.

[2017-05-03 07:17] lequem opened #244 "polymer-cli build"
When building the polymer application with polymer-cli version 0.18.1, the following error occurs: "Unable to resolve behavior `Polymer.IronOverlayBehaviorImpl"  . Did you import it? Is it annotated with @polymerBehavior?

[2017-05-22 19:05] valdrinkoshi commented on #242
Looks like working as expected, tested with `v2.0.0` http://jsbin.com/civeberugo/2/edit?html,output
Let me know if the problem persists 👌

[2017-05-22 19:05] #242 closed

[2017-05-23 13:27] supermario999 opened #245 "iron-overlay-backdrop should append to fitInto element if specified"
### Description

iron-overlay-backdrop should append to the fitInto element if specified.

### Expected outcome

If fitInto is set on an element (for example paper-dialog) then the iron-overlay-backdrop should append to the same fitInto element

### Actual outcome

iron-overlay-backdrop is always appended to the body.

### Browsers Affected

- [ x] Chrome
- [ x] Firefox
- [ x] Safari 9
- [ x] Safa

[2017-05-29 14:11] ruud commented on #195
Created a pull-request to fix this issue: See https://github.com/PolymerElements/iron-overlay-behavior/pull/246

[2017-05-29 18:55] ruud opened #247 "Restore focus not working as expected"
### Description
When restore-focus-on-close is set on a paper-dialog (which implements this behavior), the restoreFocusNode does not get its focus back, when the dialog is canceled and/or closed. The isAttached check added prevents the right part being called.

### Expected outcome
The focus is restored on the restoreFocusNode

### Actual outcome
The focus is lost and falls back to the first focus

[2017-05-30 21:00] valdrinkoshi commented on #247
Cannot repro - see https://www.webcomponents.org/element/PolymerElements/iron-overlay-behavior/demo/demo/index.html
![restore-focus](https://cloud.githubusercontent.com/assets/6173664/26602534/a7ecfcda-4538-11e7-813c-2edc73a3756d.gif)

Same with paper-dialog, see http://jsbin.com/hezuliwepi/1/edit?html,output

[2017-05-31 16:04] ruud commented on #247
@valdrinkoshi , this remains an issue when the dialog is detached from the DOM before the animation cycle is complete. Thats why I added the pull-request https://github.com/PolymerElements/iron-overlay-behavior/pull/246

[2017-05-31 16:59] valdrinkoshi commented on #247
@ruud oh I see, that wasn't clear on the description.
I don't think it should restore the focus if it's already detached, e.g.
[code]
If you close it and then detach it, the focus should be restored in the next animation frame after it gets closed, e.g.
[code]
I can handle this in this PR, as it's related to detaching an animating overlay https://github.com/PolymerElements/iron-overlay-behavior/pu

[2017-06-05 17:04] bennypowers commented on #124
I've used this hack to extract elements to the app-shell and reposition them when closing. YMMV.

[code]

[2017-06-05 22:04] sorvell opened #249 "Overlay causing an exception when used in Polymer Shop app on Edge 15"
It looks like [this issue](https://github.com/Polymer/polymer/issues/4620) is being caused by passing a `null` handler [here](https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-manager.html#L47).

This occurs when using Polymer 1.9.1 and Edge 15 only.

[2017-06-05 22:27] valdrinkoshi commented on #249
Having a hard time installing the VMs to verify if this works fine with Polymer 1.7 or earlier.
If the native `document.documentElement.addEventListener('tap', null)` works, then isn't it a regression introduced in Polymer?

[2017-06-10 22:09] dsanders11 commented on #242
@valdrinkoshi, this is not fixed if you use @ifahrentholz's actual code. [Here's a JSBin with his code](http://jsbin.com/lomepezozi/1/edit?html,output).

It's the same implementation style that the [Polymer shop demo uses](https://github.com/Polymer/shop/blob/master/src/shop-cart-modal.html) which is why both he and I have tried to implement it in our own code with no success now. The backdrop is

[2017-06-12 17:38] valdrinkoshi commented on #242
That's because you didn't style the overlay to have a background color, e.g. see the same jsbin with a background-color and padding added to the overlay host
http://jsbin.com/joyevo/1/edit?html,output

[2017-07-19 08:22] michabaur commented on #249
I get this error, too. Seems the Edge doesn't like 'null' event listeners. In my tests, each of the following lines throws this error (in a plain html file):
[code]

[2017-07-19 19:26] valdrinkoshi commented on #249
Tested on MSEdge 15 and can't reproduce the issue
<img width="1026" alt="screen shot 2017-07-19 at 12 25 55 pm" src="https://user-images.githubusercontent.com/6173664/28385578-7d997d52-6c7d-11e7-8de2-3bf8b2b03f65.png">

[2017-07-24 08:37] michabaur commented on #249
I can reproduce it in actual scripts in the document but indeed not in the console. Also, I get the error only if the dev tools are open. I don't know whether that means that the error is only triggered by the dev tools or that edge doesn't show errors that happened before opening dev tools.

![edge-repro](https://user-images.githubusercontent.com/13118223/28514908-05274f2e-705c-11e7-88d2-a3b39f6c

[2017-08-21 21:20] ergo commented on #215
@valdrinkoshi do you know of any other workarounds? It seems that there is no way to use latest `app-layout` with `paper-dialog`, is there a way to force context correctly? I don't think there is a good way to put the dialog on same level as `app-layout` since real applications using `iron-lazy-pages` or some other router will inject their view components somewhere deeper in the hierarchy.

[2017-08-21 21:29] ergo commented on #215
@valdrinkoshi in my scenario application looks like this:

            <app-drawer-layout>
                <app-header condenses reveals effects="waterfall">
                    <app-toolbar>....</app-toolbar>
                </app-header>
                <app-drawer slot="drawer">....</app-drawer>
                <uirouter-uiview>...this injects view elements that will use dialogs...</uirouter-ui

[2017-08-31 08:58] sunc9oa commented on #215
@ergo Hi, you can listening `iron-overlay-opened` and `iron-overlay-closed` event, this two event come from `Polymer.IronOverlayBehavior`, when `iron-overlay-opened` event fired, set `drawer.style.zIndex` to 0, when `iron-overlay-closed` event event fired, set` drawer.style.zIndex` back to 1.

If your content under the backdrop, here have a patch [](https://github.com/PolymerElements/paper-dialog/

[2017-09-29 01:22] helenxywu opened #250 "Utility method to bring overlays to the back."
Feature request to have a utility that can bring an overlay to the back (right now can only bring to the front).

This is useful in case we don't want a certain overlay to block other overlays (example: toast)

[2017-09-29 17:01] valdrinkoshi commented on #250
Could you provide more details on the use case?
My understanding is that certain overlays (eg toasts) should always be on top, and if we open a modal dialog after a toast is opened, it should not block the toast. This can be achieved with `alwaysOnTop` http://jsbin.com/puqovenumi/2/edit?html,output

[2017-09-29 20:03] valdrinkoshi commented on #212
The current behavior works well in scenarios like the following: user opens a dropdown menu, then a modal dialog. If she/he clicks outside the modal dialog, the dropdown menu should still stay opened.  Changing this behavior would be a breaking change for these users http://jsbin.com/givitok/2/edit?html,output

In other use cases we'd want to delegate the handling of click to the overlay that can

[2017-09-29 22:17] valdrinkoshi commented on #212
This could be solved by introducing a new property `allowClickThrough` which would be used by `IronOverlayManager` to execute `_onCaptureClick` on the following overlays.

[2017-10-03 17:54] valdrinkoshi commented on #124
I just noticed that if an overlay w/o backdrop is opened **after** one with backdrop, it is rendered on top of it, which is the same effect as when it has a backdrop too.
I think that the backdrop z-index should be updated to be below the top-most overlay with backdrop.

[2017-10-03 18:28] valdrinkoshi commented on #244
@lequem is this still happening with polymer-cli 1.5.x?

[2017-10-03 18:38] valdrinkoshi commented on #245
@supermario999 what would be the use-case & expectations? Should the backdrop also take the size of the `fitInto` element?
When you set `with-backdrop` on an overlay, it will also block focus within the overlay (e.g. when you hit TAB the focus will wrap into the overlay).
If you want to only have a backdrop below the overlay, you could do that with css, e.g.
[code]

[2017-10-03 20:02] valdrinkoshi commented on #249
Filed an issue here https://github.com/Microsoft/ChakraCore/issues/3863

[2017-10-04 09:35] lequem commented on #244
No, it's ok. You can close the ticket, thank you

[2017-10-04 09:35] lequem commented on #244
No, it's ok. You can close the ticket, thank you

[2017-10-04 09:35] #244 closed

[2017-10-05 06:57] #223 closed

[2017-10-05 06:57] #247 closed

[2017-10-05 06:58] #249 closed

[2017-10-05 07:07] #212 closed

[2017-10-27 00:28] valdrinkoshi commented on #184
This has been fixed by introducing a new method, [invalidateTabbables()](https://www.webcomponents.org/element/PolymerElements/iron-overlay-behavior/behaviors/Polymer.IronOverlayBehaviorImpl#method-invalidateTabbables) to invalidate the tabbable elements. You'll have to call `overlay.invalidateTabbables()` right after the state of your focusable elements changes.

[2017-10-27 20:43] #140 closed

[2017-11-17 22:54] valdrinkoshi opened #254 "find scrollable parent instead of defaulting to document.body"
_From @valdrinkoshi on August 19, 2016 1:49_

Currently the `iron-dropdown` will assume only body is scrollable. But if scroll happens in another scrollable parent the flow is broken, e.g. `iron-dropdown` that allows outside scrolls doesn't get its position updated http://jsbin.com/jucoda/2/edit?html,output

_Copied from original issue: PolymerElements/iron-dropdown#107_

[2017-11-17 22:54] valdrinkoshi commented on #254
_From @danbeam on August 19, 2016 2:20_

thanks for this issue, @valdrinkoshi!

[2017-11-17 22:54] valdrinkoshi commented on #254
_From @danbeam on September 20, 2016 1:11_

@tjsavage

[2017-11-17 22:54] valdrinkoshi commented on #254
_From @randyaskin on November 17, 2017 18:4_

I know this issue is a bit stale, but did anyone look into this or come up with a workaround? Several of our components that use iron-dropdown are having this issue where the dropdown and its trigger get out of sync on scroll. One of my colleagues experimented with crawling the DOM to find all scrollable parents and update position on scroll, but we we

[2017-11-17 22:54] valdrinkoshi commented on #254
I think this issue should be moved to iron-overlay-behavior as now the scroll handling is done there.

Seems like `scroll` events can be captured (via an event listener with useCapture = true), but cannot get events happening inside shadowRoots (when using native ShadowDOM).
E.g. try this, see how we don't receive events when we scroll the element `scroll_0-1__shadow-scrollable` http://jsbin.com/q

[2017-11-17 22:54] valdrinkoshi commented on #254
_From @benoitjchevalier on November 17, 2017 21:1_

Awesome, sounds like a good solution 👍 . Do you want us to open another issue on iron-overlay-behavior?

[2017-11-23 13:08] mohan-subbu opened #256 "Opened property is changed twice on click of cancel or open methods"
changing of value for "opened" property is happening twice when we click(i.e. bubbling) ,using the methods cancel() and open() of this behavior.

So, even if we execute close() or cancel() method still it returns the value of 'opened' as **true**

[2017-12-16 00:27] #254 closed

[2018-01-08 10:35] sudipta1411 opened #258 "clientwidth in polymer is showing ZERO"
I am trying to display a audio waveform in polymer using peaks.js from BBC. [https://gist.github.com/anonymous/3a9dc1613a9f8e3de61712df8a1d6a84](This) code runs perfectly. Based on the gist, I have created a simple polymer webcomponent that should display the audio waveform.
[code]

When the code is run, the peaks.js throws an

On further investigation, I have found that the "this.$.options.contai

[2018-01-08 19:18] valdrinkoshi commented on #258
When do you check the clientWidth? Initially, the dialog will be display: none, hence everything inside it will have 0 dimensions. You need to open the dialog, and then you can measure the content's size. Since the opening is asynchronous, you can listen for the event `iron-overlay-opened` to know that the dialog has been fully opened

[2018-01-09 05:20] sudipta1411 commented on #258
Thanks. This worked.

[2018-01-09 05:20] #258 closed

[2018-01-10 02:04] valdrinkoshi commented on #256
Could you provide steps to reproduce? From this example it seems to work as expected http://jsbin.com/rotoqoy/1/edit?html,output

[2018-01-10 19:32] #124 closed

[2018-01-16 13:09] DrNiels opened #259 "Embedded modal dialogs hide behind the overlay"
### Description
Since 2.3.1 (I'd guess this pull request: https://github.com/PolymerElements/iron-overlay-behavior/pull/252 ), I cannot open two embedded paper-dialogs any more. Before (2.2.1), both dialogs were placed in front of the overlay. This was not optimal, but could be used.

### Expected outcome
Opening a modal paper-dialog that is embedded into another modal paper-dialog displays the em

[2018-01-16 18:31] valdrinkoshi commented on #259
Hi @DrNiels, I'd refrain from nesting overlays, as each will create its own stacking context and trap all its content within it. E.g. even in v2.2.1 you'd have the same problem if the `dialog1` (outer) was not modal and `dialog2` (inner) was https://jsbin.com/wuhiveq/1/edit?html,output

Does it work for you to avoid nesting dialogs?
[code]

#252 is needed to match the behavior of the native `<dial

[2018-01-18 14:04] DrNiels commented on #259
The behavior from the posted jsbin would be the best, putting the last opened modal dialog on top. Avoiding nested dialogs does not really work in my case. I could make a workaround that sets modal for the topmost dialog only and propagates the modal flag when dialogs close, but this doesn't seem like the intended way to me.

[2018-01-23 15:59] rednil commented on #259
Ran into the same issue. @valdrinkoshi In my current project, I actually *could* redesign to avoid nested dialogs, but isn't that kind of averse to modular design principles? I mean, this way components that feature a dialog are not allowed to be used inside dialogs *ever*, a pretty harsh restriction.

[2018-01-31 01:19] aarongable opened #260 "iron-overlay-behavior does not autofocus inputs in nested custom elements"
### Description

The iron-overlay-element by default sets focus to any child of itself which has the "autofocus" attribute. However, it does *not* do so for descendants which are within another custom element.

### Steps to reproduce

1. Have a custom element which contains an autofocus input (such as https://chromium.googlesource.com/infra/gerrit-plugins/buildbucket/+/8b6bbfc8104e5015735e36c577b0

[2018-01-31 02:35] valdrinkoshi commented on #260
Hi @aarongable, the suggested change will not work with native ShadowDOM, as `this.querySelector` will have visibility only on the light dom of the overlay (in your case, `<gr-overlay>` will see only `<cr-tryjob-picker>`).

You'll need to set `autofocus` on `<cr-tryjob-picker>`, make it focusable but not tabbable (set tabindex=-1), and handle focus redirection to the `<input>` in the shadowRoot.

[2018-01-31 19:12] aarongable commented on #260
Thanks, I was able to follow your advice and get it working with this change: https://chromium-review.googlesource.com/c/infra/gerrit-plugins/buildbucket/+/895845

I still think it would be useful for iron-overlay-behavior to be able to autofocus an element that is in the shadow dom of one of its descendants, especially for cases where the devloper is composing a lot of pre-made elements and wants

[2018-01-31 20:08] valdrinkoshi commented on #260
I believe `iron-overlay-behavior` should not pierce into children's shadowRoots, but just handle the light dom. A shadowRoot might be closed, hence `iron-overlay-behavior` wouldn't even be able to pierce those shadowRoots.

Declaring a shadowRoot with [`delegatesFocus: true`](https://www.w3.org/TR/shadow-dom/#widl-ShadowRootInit-delegatesFocus) addresses this issue; a custom element that delegates

[2018-02-07 22:17] aomarks opened #262 "finish typings for iron-overlay-behavior managers"
- `IronScrollManager` is missing `currentLockingElement`, because it is a getter, and the Analyzer namespace scanner does not handle getters. We can either fix https://github.com/Polymer/polymer-analyzer/issues/866, or use the `addReferences` setting in `gen-tsd.json` to augment the namespace with a manually written version. Augmenting will also require fixing https://github.com/Polymer/gen-typesc

[2018-02-22 19:48] helenxywu opened #266 "Firefox: Visual glitches are triggered by the scrolling attempt, when the overlays that lock scrolling position are opened."
### Description
Open overlay that locks scroll position in Firefox. Try scrolling with scrollbar. Details here https://bugzilla.mozilla.org/show_bug.cgi?id=1438514#c5.

### Expected outcome
Nothing happens

### Actual outcome
Visual glitches are triggered by the scrolling attempt.

### Live Demo
See attachment here https://bugzilla.mozilla.org/show_bug.cgi?id=1438514

### Browsers Affected

- [ ]

[2018-02-23 00:54] valdrinkoshi commented on #266
This cannot be reproduced in Firefox 58.0.2 for Mac OS 10.13.3 (17D47), will try on windows soon

[2018-02-23 16:12] theres-waldo commented on #266
Note: reproducing this requires a heavy page like Youtube, which keeps the browser's main thread busy enough. It helps (to repro the issue) to open the overlay and try to scroll quickly after loading the page, while some content on the page (e.g. comments) is still being loaded.

[2018-02-24 00:36] valdrinkoshi commented on #266
Thanks @theres-waldo! I've written a simpler repro that creates jank on the main thread, and now I can repro on firefox for mac too: http://jsbin.com/jaqeyo/1/edit?html,output

[2018-02-24 01:00] valdrinkoshi commented on #266
I'll investigate if it's possible to do something about it, but I'm not confident there is much to do.
Some additional info on how we lock scrolling in case it helps:
1) we prevent events that cause scrolling
https://github.com/PolymerElements/iron-overlay-behavior/blob/b7afaae994d527c8582d6ae8a2694e81c571e092/iron-scroll-manager.html#L36-L46
2) we listen to scroll events (passive listener) and re

[2018-02-26 11:55] mgibas opened #267 "SyntaxError: "_lockedElementCache" is read-only"
Latest version 3.0.0-pre.10 gives me an error during webpack build:

[code]

as well as during runtime:
[code]

[2018-02-26 16:27] xlzlzhl commented on #267
it is const

[2018-02-26 23:35] RebeccaStevens opened #268 "Closure Compiler issue with 3.0 preview"
When using the Closure Compiler with the 3.0 preview version of this element, `Constant reassigned` errors occur:

[code]

version: `@polymer/iron-overlay-behavior#3.0.0-pre.10`

### Lines at fault

https://github.com/PolymerElements/iron-overlay-behavior/blob/1cbc71fce4d7c6e32b445e8f350b9d507904b363/iron-scroll-manager.js#L102-L103

If I change the lines above to use `let` instead of `const`, the

[2018-02-26 23:38] RebeccaStevens commented on #268
Related #267

[2018-02-27 18:04] valdrinkoshi commented on #268
Looks like `polymer-modulizer` converts object properties to `const` variables - @aomarks @FredKSchott could you take a look?

[2018-03-02 10:36] TrebuhD opened #269 "TypeError: observerHandle is null in Firefox"
### Description
On firefox (v58.02), I get the following error after I destroy one particular element which uses `iron-overlay-behavior` (when navigating to a different route):

TypeError: observerHandle is null

The element in question contains a list of elements, each of them using paper-dropdown-menu. When I delete the paper-dropdown-menu, everything works well. If I include paper-dropdown-menu

[2018-03-02 18:56] valdrinkoshi commented on #269
Hi @TrebuhD, I couldn't reproduce the issue through the website, it seems the content is not being served right now. Would you mind providing a smaller repro through a jsbin? e.g. http://jsbin.com/fowahen/4/edit?html,output

Regarding the bug, if `this._observer` is `null` it means `attached` was never invoked, which means there is a bug in `polymer` itself, e.g. https://github.com/Polymer/polymer

[2018-03-03 20:41] TrebuhD commented on #269
Hi @valdrinkoshi . I don't know if I'll be able to produce a jsbin repro, as I don't know what exactly causes this error. I use the exact same elements in other places in the code and it works fine there.

The site is online now though! We had a small bug on production. You can check out the error over there as described in my original post.

I suspect it's a polyfill issue and not a Polymer issue

[2018-03-05 19:23] TrebuhD commented on #269
Just to let you know, I'll soon be swapping the deployed site to a working version without the error (where I manually edited the line in my local `iron-overlay-behavior`), so you won't be able to reproduce the error over there anymore. Hopefully, if we could merge that PR, I can avoid creating a fork of `iron-overlay-behavior` and continue using this repository.

[2018-03-05 21:01] valdrinkoshi commented on #269
The website has minified code, and it's hard to add debugging points where I'd want. Can you provide a smaller repro? Skimming through the codebase, I see that there are several nested dom-repeats and dom-ifs, e.g there are 2 nested ifs, [here](https://github.com/suttacentral/next-sc/blob/development/client/elements/suttaplex/sc-parallel-item.html#L198) and [here](https://github.com/suttacentral/n

[2018-03-05 22:44] TrebuhD commented on #269
Thanks for your answer. I'll try to provide a repro soon.

BTW, are nested dom-ifs a bad thing? I had no idea.

[2018-03-05 23:12] valdrinkoshi commented on #269
No it's not bad, it's just hard to debug from my side :) I tried following the data flow but got easily lost, and couldn't easily add breakpoints in the places I wanted to in the minified code :/

[2018-03-06 21:38] evancaldwell commented on #267
I am also having this issue. I understand that it is a `const` but the question is why. The issue linked above by RebeccaStevens implies that the modularizer isn't converting it properly. Would love to see this fixed.

Locally I converted

    export const _lockingElements = [];
    export const _lockedElementCache = null;
    export const _unlockedElementCache = null;
to

    export var _lockingE

[2018-03-06 22:30] evancaldwell commented on #267
Also, tracking backward in the code it looks like `iron-scroll-manager` is trying to use `Polymer` but it's not imported anywhere that I can see.

[2018-03-24 11:07] NicolaiSchmid commented on #267
I can confirm the issue for the newest pre-12 version as well

[2018-03-26 17:24] valdrinkoshi commented on #267
@aomarks FYI - would it help to mark those properties as `@private`?

[2018-03-26 19:28] aomarks commented on #267
At a high level, we unfortunately have not been testing any Polymer 3 pre-release code with Closure compilation yet, and have no handling in modulizer to update Closure annotations to match the transformed code, so I would expect all kinds of issues until we do that.

[2018-03-27 08:36] TitanNano commented on #267
I think this deals with the same issue: https://github.com/Polymer/polymer-modulizer/issues/345

[2018-03-30 08:16] valdrinkoshi opened #273 "Add overflowX/overflowY check in _getScrollableNodes in iron-dropdown-scroll-listener"
_From @oliver92 on June 1, 2017 14:8_

### Description
If i add an element with only overflowX = auto or overflowY = auto the _getScrollableNodes only checks for overflow = auto on the elements not the individual overflow ones.

### Expected outcome
If i add an element with only overflowX = auto or overflowY = auto i expect the scrollLock to work for those elements as well.

### Actual outcome
The

[2018-03-30 08:16] valdrinkoshi commented on #273
is this still an issue with the latest version? The scroll manager has moved to iron-overlay-behavior, and there were couple bugfixes there, so it might not be an issue anymore...

[2018-03-30 08:16] valdrinkoshi commented on #273
_From @oliver92 on March 30, 2018 7:55_

No the issue is still there.

[2018-03-30 08:16] valdrinkoshi commented on #273
Confirmed http://jsbin.com/bahawiv/1/edit?html,output, I'll move the issue in iron-overlay-behavior.
@oliver92 feeling like sending a PR?

[2018-03-30 08:27] oliver92 commented on #273
Yea sure, i can do that. Though the ifs are quite ugly. Maybe theres a better way ... :) Ill do it anyway, soon...

[2018-03-30 08:33] valdrinkoshi commented on #273
Nice! and in order to test it, it should be enough to just update the overflow styles to `overflow-y` and `overflow-x` of this test element
https://github.com/PolymerElements/iron-overlay-behavior/blob/6d28420cee4a6cab1de0292e52be9ca4c73378ae/test/x-scrollable-element.html#L22-L31

[2018-04-02 16:22] snovikov-gd commented on #269
FYI guys, I've faced with the same issue in Edge 16. I've fixed it the same way @TrebuhD is suggesting and have to use a fork of this repo.
Unfortunately, I cannot provide repro. I can just say this bug is floating in Edge, sometimes it does not appeer in the same conditions. I didn't manage to understand when exactly, but F12 tools opened increases possibility it won't appear.

It would be great

[2018-04-02 19:03] valdrinkoshi commented on #269
This looks very much related to a bug in ShadyDOM where listeners weren't actually removed https://github.com/webcomponents/shadydom/issues/190. This was fixed in shadydom v1.0.13, included in webcomponentsjs v1.1.1 - can you confirm you're using either shadydom v1.0.13 or webcomponents v1.1.1?

[2018-04-02 19:50] #256 closed

[2018-04-04 12:30] Synopticum commented on #269
@valdrinkoshi I'm using v1.1.1. I'm sorry, I found a piece of code that manually changes `this._observer` in runtime so the above is likely related to our codebase, not iron-overlay-behavior component itself.

It would be convenient to have `if (this._observer)` check though.

[2018-05-28 08:56] fgirardey commented on #269
I'm actually facing the same issue, you can reproduce this bug by forcing polyfills on Chrome.

[code]

I'm actually forced to override the `IronOverlayBehaviorImpl.detached` method with the same fix than @TrebuhD has commited.

Why waiting so long to release the fix?

[2018-06-07 11:32] galanovnick opened #282 "Focus trapping logic doesn't work with non-Polymer elements"
### Description
Focus traping logic is not compatible with elements that are not extending **PolymerElement**. Moreover, it won't work properly even if at least one of parent shadow roots is not a Polymer element.

As far as I can tell the main reason for that is because of the way [deepActiveElement](https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-manager.html#L8

[2018-06-08 00:11] valdrinkoshi commented on #282
Yeah, using `el.root || el.shadowRoot` should be fine.

In any case, beware that focus trapping doesn't work well when there are nodes with tabindex > 0 - see more details in #241 and in this comment in the code
https://github.com/PolymerElements/iron-overlay-behavior/blob/77a75f0b0c129bca356a4ef9dcdb97f7f3c69951/iron-focusables-helper.html#L116-L127

[2018-06-08 08:12] galanovnick commented on #282
@valdrinkoshi, if I submit a PR for 2.x version, are those changes going to be reflected in 3.0 version as well? Or should I submit PR for 3.0 version primarily?

[2018-06-12 13:04] DiegoCardoso opened #283 "IronFocusablesHelper.getTabbableNodes fails if there is a SVGElement on IE11"
### Description

This issue was found while using `vaadin-dialog`.
The dialog component uses `IronFocusablesHelper.getTabbableNodes` to trap tab selection to the element inside of it when opened. We found out that in IE11, one of the examples wasn't preventing the selection to go outside of the dialog.

It turns out that the reason for that was that the dialog has one `SVGElement` inside of it.

O

[2018-06-22 09:27] benhjt commented on #245
I know this is and old issue but I would like to see this option too.

In my use case, we are creating a 'widget' (small app) which is a collection of components which can be included on a clients page. In our case, we would only want the overlay to be appended to our top-most component and have a width and height of 100% of this top-most component rather than be appended to the body.

[2018-08-11 06:41] rpapeters commented on #269
I'm also having this issue in (at least) FireFox and created a patch on the Polymer.DomApi.prototype.unobserveNodes function like this:

`Polymer.DomApi.prototype.unobserveNodes = function(observerHandle) { observerHandle && observerHandle.disconnect(); }`

So the difference is just checking if the observerHandle has a value before calling the disconnect function on it. For me this fixes the issue

[2018-09-24 08:40] web-padawan commented on #282
@valdrinkoshi there is one more place where using `.root` strikes for vanilla Web Components:
https://github.com/PolymerElements/iron-overlay-behavior/blob/89dfc6a36a9db84b8950ae686f2086eba46e5b23/iron-focusables-helper.js#L132

I'm up to submit a PR but we would need this fix  for both Polymer 2 and 3 (so there will be 2 PRs)

[2018-10-24 18:08] theres-waldo commented on #266
Some additional info on how we lock scrolling in case it helps:

The suggestion I made in the [Firefox bug where this came up](https://bugzilla.mozilla.org/show_bug.cgi?id=1438514), is to lock scrolling by making the page `overflow:hidden` while the overlay is shown. Has this been considered?

[2018-10-24 18:20] valdrinkoshi commented on #266
@theres-waldo that would cause layout changes on browsers that apply an offset when the scrollbar is shown vs not, e.g. in IE11 toggling overflow:hidden/auto would add/remove 20px to the width if the page is vertically scrollable.

[2018-10-24 18:55] theres-waldo commented on #266
Is that a concern because of the performance impact of the re-layout? Or because the change to the layout might be visually jarring to the user? (I expect a scrollbar-width amount of change is unlikely to change the layout in any significant way, but you can probably construct a page where it does...)

[2018-10-24 19:54] valdrinkoshi commented on #266
Basically, all of the above. This approach was introduced here https://github.com/PolymerElements/iron-dropdown/pull/93

[2018-10-24 20:52] theres-waldo commented on #266
How involved would it be, to use the `overflow:hidden` approach for some browsers, and the `scroll` event handler approach on others? I think the issues described in https://github.com/PolymerElements/iron-dropdown/pull/93 are less severe than the effects of using a `scroll` event handler to adjust the scroll position given Firefox's asynchronous scrolling.

[2018-10-24 21:08] valdrinkoshi commented on #266
I don't think there is a silver bullet for this one. We thought of solutions like adding an element to the dom just to measure the scrollbar width (e.g. https://davidwalsh.name/detect-scrollbar-width), but that causes layout/paint on the whole document, and potentially triggers mutation observers, and it would be leaking implementation details. I'll leave it to the owners (@bicknellr fyi) to decid

[2018-12-23 19:08] aletorrado commented on #269
Any update on this?

[2019-03-20 06:12] yosilevy commented on #282
Is this fixed/coming?
I think that line should read:
` children = dom(element.root || element.shadowRoot || element).children;  `

[2019-03-20 06:56] yosilevy commented on #282
Submitted PR https://github.com/PolymerElements/iron-overlay-behavior/pull/292

[2019-08-16 09:15] vincentcn opened #298 "Still can scroll parent elements by dragging &dropping scrollbar after an element is locked"
Should be an issue for ```iron-scroll-manager.js```.
After locking an element by calling ```pushScrollLock``` from ```iron-scroll-manager.js```, the scroll on locked element's parent elements are expected to be locked.

You do cannot scroll them by mouse wheel or trackpad, but still can scroll them by dragging &dropping scrollbar.(You may need set "show scroll bars" to "always" in system preferenc

[2019-11-20 00:08] helenxywu commented on #210
The examples are not setting restoreFocusOnClose; also we wouldn't want the focus to restore if the event was on a tap, only if it was a keyboard event.

[2020-02-06 16:19] juliexiong commented on #245
I would like this option for source order purposes as well.

This is my use-case:
1. `<custom-element-a>` is a slot element of `<custom-element-b>`
2. `<custom-element-a>` slots `<button>` that opens `<paper-dialog>` on click
3. Whenever the `<paper-dialog>` is opened, `<iron-overlay-backdrop>` is appended to the end of `<body>`
4. Since its `z-index` is much higher than `<custom-element-b>`, `<ir

[2020-02-20 01:41] vincentcn commented on #298
Anyone can help to check this issue? @bicknellr ?

[2020-06-10 17:29] chanshachans opened #306 "Cancel event of "iron-overlay-behavior" is triggered before the On-Click of the element on emulated device mode and mobile devices"
### Description

An overlay is opened by the on-click method of a button using toggle event of "iron-overlay-behavior" and when clicking on the same button to close the overlay to call the toggle event. The Cancel event of "iron-overlay-behavior" is triggered before the on-click method on emulated device mode and mobile devices on chrome. Same case is working fine on desktop.
code:
on-click="click

[2021-03-15 20:37] KeithHenry commented on #282
I have a workaround for this... it is _horrible_, but I doubt they're ever going to fix this given the age of this issue.

Basically:

- Add a `getSpoofRootCollection` that checks `.children` _and_ `.shadowRoot`.
- Wrap everything it returns in a `Proxy` that replaces the `root` getter.
- Use `Object.defineProperty` to add a `root` property to the content added to the `<paper-dialog>` (or whatever

[2021-09-03 15:46] Mehuge opened #310 "Incorrect positioning of overlay using `horizontalOffset` and `verticalOffset` when body overflows viewport."
### Version

v2.3.4 of iron-overlay-behaviour.

### Description

Using iron-overlay-behaviour to implement a right click (context) menu. The menu is to be displayed at the position the user right clicked. The position is being incorrectly calculated when the body overflows the viewport and the position of the right click is such that the menu would extend beyond the right edge or bottom edge of th